@import '../base/basic';
$trivia-background: darken($neutral, 5%);
//este color viene del documento "Observaciones Yamilet"
$bola-background: #bf311a;
$chapter-title-color: #333;

.chapter-head {
  display: flex;
  padding: 0 2rem;
  text-align: center;
  border-bottom: 1px solid $neutral;
  align-items: center;

  .title-number {
    color: lighten($black, 40%);
  }

  // .title {
  //   color: $chapter-title-color;
  //   text-align: center;
  //   font-size: 2.3rem;
  //   font-weight: bolder !important;
  // }

  .nav-left,
  .nav-right {
    font-size: 3rem;
    color: $contraste;
  }

  .container {
    padding: 2rem;
    text-align: center;
  }
}

%nav-arrow {
  position: fixed;
  z-index: 9;
  cursor: pointer;
  transition: transform 1s;
}

.nav-left {
  @extend %nav-arrow;
  left: 1rem;

  &:hover {
    transform: scale(1.2);
  }
}

.nav-right {
  @extend %nav-arrow;
  right: 1rem;

  &:hover {
    transform: scale(1.2);
  }
}
// color de la gama enviada por yamilet
//$intro-background: #D94801;
$intro-background: #d68771;
$section-background: #ded5e2;
$moodle-background: lighten($intro-background, 20%);
$evaluacion-background: darken($intro-background, 10%);
$evaluacion-final-background: darken($section-background, 5%);

.intro {
  padding: 2rem 0;
  background: $intro-background;

  .square-dialog {
    position: relative;
    width: 2rem;
    height: 2rem;
    background: $white;
    transform: rotate(-45deg);
    @include until($tablet) {
      top: -1rem;
      left: 0.9rem;
    }
    @include from($tablet) {
      top: 6rem;
      left: -0.9rem;
    }
  }

  .container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    @include from($tablet) {
      flex-flow: row;
    }
  }

  .character {
    flex-shrink: 0;
    min-width: 20%;

    .image {
      @include until($tablet) {
        width: 146px;
        height: 209px;
        margin: auto;
      }
      @include from($tablet) {
        width: 268px;
        height: 384px;
      }
    }

    .image-small {
      @include until($tablet) {
        width: 102px;
        height: 146px;
        margin: auto;
      }
      @include from($tablet) {
        width: 187px;
        height: 268px;
      }
    }
  }

  .the-content {
    padding: 1rem;
    font-size: 1.4rem;
    text-align: justify;
    border-radius: 0.5rem;
    flex-grow: 0;
  }

  .intro-container {
    min-width: 20rem;
    max-width: 930px;
    min-height: 10rem;
  }
}

.mobile-warn {
  padding: 1rem;
  font-weight: bolder;
  color: $white;
  text-align: center;
  background-color: $soft-one;
  border-radius: 1rem;
  @include from($tablet) {
    display: none;
  }
}

.has-emphasis {
  font-size: 1.4rem;
  font-style: italic;
}

.actividad {
  font-size: 1.2rem;
  text-align: center;
  background-color: $soft-one;

  .instrucciones {
    max-width: 60%;
    margin: auto;
  }

  .is-section-icon {
    width: 6rem;
    padding: 0.4rem;
    margin-top: -6rem;
    background-color: $bola-background;
    border-radius: 50%;
  }
}

.moodle {
  font-size: 1.2rem;
  text-align: center;
  background-color: $moodle-background;

  .instrucciones {
    max-width: 60%;
    margin: auto;
  }

  .is-section-icon {
    width: 6rem;
    padding: 0.4rem;
    margin-top: -6rem;
    background-color: $bola-background;
    border-radius: 50%;
  }
}

.bx-distintivo {
  @extend %iframe-external;
  margin: 1rem auto;
  background: $white;
  border: 3px solid darken($trivia-background, 50%);
}

.evaluacion {
  font-size: 1.2rem;
  text-align: center;
  background-color: $evaluacion-background;

  .instrucciones {
    max-width: 60%;
    margin: auto;
  }

  .is-section-icon {
    width: 6rem;
    padding: 0.4rem;
    margin-top: -6rem;
    background-color: $bola-background;
    border-radius: 50%;
  }
}

.moodle-frame {
  @extend %iframe-external;
  margin: 1rem auto;
  border: 3px solid darken($trivia-background, 50%);
}

.evaluacion-final {
  font-size: 1.2rem;
  text-align: center;
  background-color: $evaluacion-final-background;

  .instrucciones {
    max-width: 60%;
    margin: auto;
  }

  .is-section-icon {
    width: 6rem;
    padding: 0.4rem;
    margin-top: -6rem;
    background-color: $bola-background;
    border-radius: 50%;
  }
}

.carta-navegacion-hype {
  @extend %iframe-external;
  margin: auto;
  border: 3px solid darken($trivia-background, 50%);
  border-radius: 3px;
}

.juego-cartas {
  @extend %iframe-external;
  margin: auto;
  border: 3px solid darken($trivia-background, 50%);
  border-radius: 3px;
}

.trivia-hype {
  @extend %iframe-external;
  border: 3px solid $trivia-background;
}

.compromisos {
  @extend %iframe-external ;
  margin: auto;
  flex-direction: column;
  background-color: $section-background !important;
}

.video-frame {
  margin: auto;
  background: darken($trivia-background, 50%) !important;
  border: 3px solid darken($trivia-background, 50%);
  @include until($tablet) {
    width: 400px;
    height: 225px;
  }
  @include from($tablet) {
    width: 769px;
    height: 381px;
  }
  @include from($widescreen) {
    width: 1246px;
    height: 701px;
  }
}

%iframe-external {
  @include until($tablet) {
    width: 90vw;
    height: 30vh;
    min-height: 30vh;
  }
  @include from($tablet) {
    width: 90vw;
    height: 683px;
    min-height: 683px;
  }
  @include from($widescreen) {
    width: 1246px;
    height: 706px;
    min-height: 706px;
  }
}

%iframe-external-big {
  @include until($tablet) {
    width: 90vw;
    height: 30vh;
  }
  @include from($tablet) {
    width: 90vw;
    height: 683px;
  }
  @include from($widescreen) {
    width: 1246px;
    height: 906px;
  }
}

.frame-puntogenero {
  width: 100%;
  height: 100%;
}

.is-separator {
  text-align: center;

  img {
    @include until($tablet) {
      max-height: 12px;
    }
    @include from($tablet) {
      max-height: 21px;
    }
  }
}

.is-justified {
  text-align: justify;
}

.trivia {
  text-align: center;
  background: $trivia-background;

  .is-section-icon {
    width: 6rem;
    padding: 0.4rem;
    margin-top: -6rem;
    background-color: $bola-background;
    border-radius: 50%;
  }

  .instrucciones {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .ol {
    padding-left: 1rem;

  }
}

.has-padding {
  padding: 3rem;

  &.is-narrow {
    @include from($tablet) {
      width: 60%;
      margin: auto;
    }

  }
}

.iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
}

.icon-size {
  width: 1.2rem;
  height: 1.2 rem;
}
/* stylelint-disable */
.page--inner {
  p.is-regular {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.2rem;
  }
}

// .VueCarousel-navigation-next{
//   animation: shake 1.6s cubic-bezier(.36,.07,.19,.97) 7 both;

// }
// @keyframes shake {
//   10%,100% {
//     opacity: 1;
//     transform: translateY(-50%) translateX(100%);
//   }
//   25%,75% {
//     transform: translateY(-40%) translateX(100%);
//   }
//   50% {
//     opacity: .2;
//     transform: translateY(-30%) translateX(100%);
//   }
// }
