$navbar-height: 9rem;
$navbar-item-img-max-height: 12rem !important;
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $contraste;
$navbar-item-active-color: $gradient-b-top;
