// stylelint-disable function-comma-space-after
// stylelint-disable scss/dollar-variable-colon-space-after
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma/sass/utilities/initial-variables.sass';

// Colors

$soft-one: #ded5e2;
$soft-two: #d7f1f4;
$contraste: #682880;

$gradient-a-top: #950d7f;
$gradient-a-bottom: #6a2278;

$gradient-b-top: #97275d;
$gradient-b-bottom: #6d1241;

$contraste-b: #ffaf22;
$neutral: hsl(0, 5%, 96%);
$gray: #696969;

$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);

$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(141, 71%, 48%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 86%, 53%);
$blue: hsl(217, 71%, 53%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 100%, 61%);

// Typography

$family-sans-serif: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-monospace: monospace;
$render-mode: optimizeLegibility;

$size-plus: 2.9rem;
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$brand-primary: $soft-one;
$brand-secondary: #211f35;

$radius: 3px;

$custom-colors: ('secondary': ($brand-secondary, $white));

$primary: $brand-primary;

@import '~bulma/sass/utilities/derived-variables.sass';
// $colors: map-merge($colors, $addColors);
