<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta http-equiv="Content-Type"
        content="text/html;charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0">
  <meta name="keywords"
        content="Igualdad, Inducción, Curso de igualdad, perspectiva de género">
  <meta name="msapplication-TileColor"
        content="#ffffff">
  <meta name="msapplication-config"
        content="<%= BASE_URL %>img/icons/browserconfig.xml?v=PYewAxMapQ">
  <meta name="theme-color"
        content="#ffffff">
  <link type="text/plain"
        rel="author"
        href="<%= BASE_URL %>humans.txt">
  <link rel="apple-touch-icon"
        sizes="180x180"
        href="<%= BASE_URL %>img/icons/apple-touch-icon.png?v=PYewAxMapQ">
  <link rel="icon"
        type="image/png"
        sizes="32x32"
        href="<%= BASE_URL %>img/icons/favicon-32x32.png?v=PYewAxMapQ">
  <link rel="icon"
        type="image/png"
        sizes="16x16"
        href="<%= BASE_URL %>img/icons/favicon-16x16.png?v=PYewAxMapQ">
  <link rel="manifest"
        href="<%= BASE_URL %>img/icons/site.webmanifest?v=PYewAxMapQ">
  <link rel="mask-icon"
        href="<%= BASE_URL %>img/icons/safari-pinned-tab.svg?v=PYewAxMapQ"
        color="#5bbad5">
  <link rel="shortcut icon"
        href="<%= BASE_URL %>img/icons/favicon.ico?v=PYewAxMapQ">
  <title>
    Inducción a la igualdad entre mujeres y hombres |
    Instituto Nacional de las Mujeres
  </title>
  <!-- Styles -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:400,400i,900,900i">
  <!-- Scripts -->
  <script src="<%= BASE_URL %>config.js"></script>
</head>

<body>
  <noscript>
    <div class="notification is-danger">
      <strong>
        Este curso requiere javascript para funcionar correctamente
      </strong>
    </div>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
