<template>
  <main class="page--inner">
    <!-- eslint-disable max-len -->
    <section class="chapter-head">
      <div class="nav-left">
        <router-link to="/mi-papel">
          <fa-icon icon="chevron-circle-left" />
        </router-link>
      </div>
      <div class="container">
        <h2 class="title is-3 is-inner-title">
          Cierre
        </h2>
      </div>
    </section>
    <section class="intro">
      <div class="container">
        <div class="character">
          <img
            class="image"
            src="@/assets/images/personajes/godines.gif"
            alt="Personaje">
        </div>
        <div class="the-content">
          <div class="intro-container">
            <div class="square-dialog" />
            <carousel-wrapper>
              <slide>
                <p>¡Felicidades! Estás por concluir el curso de “Inducción a la igualdad entre mujeres y hombres”, ahora comprendes la importancia de las obligaciones y compromisos adquiridos como parte del gobierno federal para eliminar las desigualdades, la discriminación y la violencia que lacera A las mujeres, a los hombres y en general, al conjunto de la sociedad mexicana. </p>
              </slide>
              <slide>
                <p>Sabemos que las personas servidoras públicas, desempeñamos un importante papel en la construcción de la igualdad sustantiva entre mujeres y hombres. Para ello, será necesario ponerse los lentes de género y repensar el abordaje de los problemas públicos así como de nuestras propias ideas y formas de relacionarnos al interior de nuestras dependencias y fuera de ellas. Esperamos que este curso te haya brindado herramientas y conceptos que le permitan a tu institución cumplir con las obligaciones públicas en materia de igualdad y no discriminación.  Sin ello, la construcción del bienestar, la paz y la democracia serían incompletas.</p>
              </slide>
              <slide>
                <p>En este módulo de cierre realiza los siguientes pasos: </p>
                <p>1. Si deseas repasar o leer el contenido completo del curso puedes descargarlo en formato PDF dando clic en la siguiente liga:</p>
                <p class="is-centered">
                  <a href="./docs/CIIMH_ContenidoCurso.pdf"
                     download="./docs/CIIMH_ContenidoCurso.pdf">
                    “Curso Inducción”
                  </a>.
                </p>
                <p>2. Realiza la Evaluación Final (obteniendo una calificación igual o mayor que 7);</p>
                <p>3. Responde la Encuesta de Satisfacción y descarga tu Constancia que avala la realización de tu inducción.</p>
                <p>4. No olvides personalizar, descargar e imprimir tu distintivo insignia de: “Cuento con la Inducción en Materia de Igualdad”.</p>
              </slide>
              <slide>
                <p>Si te interesa continuar con tu capacitación y formación en materia de igualdad entre mujeres y hombres, te invitamos a conocer la oferta de cursos del INMUJERES visitando su sitio oficial.</p>

                <p class="is-centered">
                  <a href="http://puntogenero.inmujeres.gob.mx/"
                     target="_blank">
                    Inmujeres “Puntogénero: formación para la igualdad”
                  </a>
                </p>
              </slide>
            </carousel-wrapper>
          </div>
        </div>
      </div>
    </section>
    <section class="section moodle">
      <div class="instrucciones">
        <img
          src="@/assets/images/icons/moodle.svg"
          alt="Evaluación diagnóstica Final"
          class="is-section-icon">
        <p class="has-emphasis">
          Evaluación Diagnóstica Final
        </p>
      </div>
      <iframe-moodle
        section="cierre"
        index="0" />
    </section>
    <section class="section evaluacion-final">
      <div class="instrucciones">
        <img src="@/assets/images/icons/evaluacion-final.svg"
             alt="Evaluación final"
             class="is-section-icon">
        <p class="has-emphasis">
          Evaluación Final
        </p>
      </div>
      <iframe-moodle
        section="cierre"
        index="1" />
    </section>
    <section class="section moodle">
      <div class="instrucciones">
        <img src="@/assets/images/icons/encuesta.svg"
             alt="Encuesta y Constancia"
             class="is-section-icon">
        <p class="has-emphasis">
          <strong>Encuesta de satisfacción y descarga de constancia</strong>
        </p>
        <p>Te invitamos a responder la siguiente encuesta, la cual tiene el propósito de evaluar tu satisfacción respecto del curso. Recuerda que para descargar tu constancia es requisito realizarla. ¡Ayúdanos a mejorar!</p>
        <p class="has-emphasis">
          ¡Muchas felicidades!
        </p>
      </div>
      <iframe-moodle
        section="cierre"
        index="2" />
    </section>
    <section class="section actividad">
      <div class="instrucciones">
        <img
          src="@/assets/images/icons/evaluacion.svg"
          alt="pretext"
          class="is-section-icon">
        <p class="has-emphasis">
          Distintivo
        </p>
      </div>
      <div class="bx-distintivo">
        <div class="columns has-padding">
          <div class="column">
            <div class="has-back">
              <p>
                Como recordarás, en cada Juego de Trivia ejercitaste los aprendizajes adquiridos y al responder correctamente acumulaste puntos que se convirtieron en estrellas doradas para obtener la insignia que te identifica como persona servidora pública que “Cuenta con la inducción en igualdad entre mujeres y hombres”.
              </p><br>
              <h2 class="title is-4">Instrucciones:</h2>
              <ol class="is-lefty is-list">

                <li>Escribe tu nombre (este será el que aparecerá en tu distintivo).</li>
                <li>Da clic en el botón de “Descargar”.</li>
                <li>Imprime tu insignia “Cuento con la Inducción en materia de igualdad”.</li>
                <li>Pégala en tu oficina o estación de trabajo.</li>
                <li>¡Muchas felicidades, eres una persona servidora pública comprometida con la igualdad entre mujeres y hombres!</li>
              </ol>
            </div>
          </div>
          <div class="column">
            <p>Tu distintivo puede tener el siguiente numero de estrellas, de acuerdo con el número de puntos que hayas logrado a lo largo del curso: </p>
            <ul class="is-lefty">
              <li>5 estrellas por 20 puntos </li>
              <li>4 estrellas por 16 a 19 puntos</li>
              <li>3 estrellas por 12 a 15 puntos</li>
              <li>2 estrellas por 8 a 11 puntos</li>
              <li>1 estrella por 4 a 7 puntos</li>
              <li>0 estrellas por menos de 4 puntos</li>
            </ul>
            <hr>
            <trivias-result />
          </div>
        </div>
      </div>
    </section>

    <!-- eslint-enable max-len -->
  </main>
</template>
<script>
import TriviasResult from '@/components/TriviasResult.vue'
import IframeMoodle from '@/components/IframeMoodle.vue'
import CarouselWrapper from '@/components/CarouselWrapper.vue'
import { Slide } from 'vue-carousel'

export default {
  name: 'MDuloDeInicio',
  head: {
    title: 'Cierre',
  },
  components: {
    TriviasResult,
    IframeMoodle,
    CarouselWrapper,
    Slide,
  },
}
</script>
<style lang="scss">
$white: #fff;

.bx-distintivo {
  // prettier-ignore
  background:
    url('../assets/images/personajes/trivia-back.jpg')
    center
    center
    no-repeat;

  .is-list {
    list-style-position: inside;
  }
}

.has-back {
  padding: 1rem;
  background-color: rgba($white, 0.5);
}
</style>
