<template>
  <main class="page--inner">
    <!-- eslint-disable max-len -->
    <section class="chapter-head">
      <div class="nav-left">
        <router-link to="/igualdad">
          <fa-icon icon="chevron-circle-left" />
        </router-link>
      </div>
      <div class="container">
        <h2 class="title is-3 is-inner-title">
          2. Las desigualdades entre mujeres y hombres
        </h2>
      </div>
      <div class="nav-right">
        <router-link to="/obligaciones">
          <fa-icon icon="chevron-circle-right" />
        </router-link>
      </div>
    </section>
    <section class="intro">
      <div class="container">
        <div class="character">
          <img
            class="image-small"
            src="@/assets/images/personajes/nina.gif"
            alt="Personaje">
        </div>
        <div class="the-content">
          <div class="intro-container">
            <div class="square-dialog" />
            <carousel-wrapper>
              <slide>
                <p>Lograr la igualdad entre mujeres y hombres requiere la implementación de políticas públicas que tengan como prioridad a las mujeres de distintos grupos sociales: indígenas, mujeres con discapacidad, lesbianas, adultas mayores, migrantes, privadas de libertad, en situación de violencia; en su condición de niñas o adolescentes, etcétera.   Y aunque la prioridad se centre en ellas, el impacto en los hombres no debe quedar excluido. Por lo tanto, las políticas de igualdad deberán incluir acciones diferenciadas para unas y para otros.  </p>
              </slide>
              <slide>
                <p>En este tema daremos un vistazo a los pilares que causan y sostienen las desigualdades entre mujeres y hombres, y por ello deben ser el blanco de las acciones que se impulsan desde el gobierno federal. </p>
              </slide>
              <slide>
                <p>Recuerda que las desigualdades reflejan condiciones discriminantes sobre las cuales es prioritario actuar, y por ello la igualdad va de la mano de la <i>no discriminación.</i></p>
              </slide>
            </carousel-wrapper>
          </div>
        </div>
      </div>
    </section>
    <section class="section actividad">
      <div class="">
        <div class="instrucciones">
          <img
            src="@/assets/images/icons/actividad.svg"
            alt=""
            class="is-section-icon">
          <p>En esta segundo tema, dimensionaremos la principales expresiones de desigualdad y comprenderás por qué debemos de actuar para que mujeres y hombres gocen de las mismas oportunidades y del pleno disfrute de sus derechos humanos. Te invitamos a buscar respuesta a esta y otras incógnitas de la mano de la pequeña presentadora.</p>
        </div>
        <iframe
          id="desigualdades"
          class="juego-cartas is-hidden-mobile"
          src="./ipad/desigualdad.html?v=7"
          frameborder="0" />
        <div class="mobile-warn">
          Para ver este contenido es necesario una pantalla de mínimo 1260x588 px.
        </div>
      </div>
    </section>
    <section class="section trivia">
      <div class="is-hidden-mobile">
        <img
          src="@/assets/images/icons/trivia.svg"
          class="is-section-icon"
          alt="">
        <div class="">
          <div class="columns">
            <div class="column">
              <container-trivia
                :trivia-id="2"
                src="./trivias/Trivia2.html?v=3" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- eslint-enable max-len -->
  </main>
</template>
<script>
import ContainerTrivia from '@/components/ContainerTrivia.vue'
import CarouselWrapper from '@/components/CarouselWrapper.vue'
import { Slide } from 'vue-carousel'

export default {
  name: 'PageDesigualdades',
  head: {
    title: 'Porque actuar a favor de la igualdad',
  },
  components: {
    ContainerTrivia,
    CarouselWrapper,
    Slide,
  },
}
</script>
