<template>
  <main class="page--inner">
    <!-- eslint-disable max-len -->

    <section class="content">
      <div class="container">
        <h2 class="title is-2">Curso en línea</h2>
        <h4 class="title is-4">Inducción a la igualdad entre mujeres y hombres</h4>

        <h4 class="title is-4">Guía del curso</h4>
        <p class="is-size-5">En esta guía encontrarás información que te será de utilidad para la realización de tu curso. Te recomendamos leerla, imprimirla y tenerla a mano para que recurras a ella cuando lo necesites.  </p>

        <h4 class="title is-4">Propósito general</h4>
        <p class="is-size-5">El curso tiene como propósito general, que las personas que ingresan al servicio público comprendan las obligaciones y compromisos que adquieren como parte de sus funciones para lograr la igualdad sustantiva entre mujeres y hombres.</p>

        <h4 class="title is-4">Temario</h4>
        <p class="is-size-5">El contenido del curso está organizado para orientar de manera gradual tu proceso de comprensión de aspectos cruciales sobre la igualdad entre mujeres y hombres, a través del abordaje de cuatro temas: </p>
        <p class="is-size-5">Instrucción: Da clic en cada unidad para ver la información.</p>

        <div class="collapsable">
          <b-collapse :open="false">
            <p slot="trigger"
               class="is-size-5 pregunta is-size-5">
              Inicio
            </p>
          </b-collapse>
          <b-collapse :open="false">
            <p slot="trigger"
               class="pregunta is-size-5">
              1. La igualdad: principio y derecho
              <fa-icon icon="angle-down" />
            </p>

            <div class="content">
              <p class="is-size-5">Objetivo:</p>
              <p class="is-size-5">Comprender en que consiste la igualdad como principio y derecho.</p>
              <p class="is-size-5">Subtemas:</p>
              <ul>
                <li>1.1	¿Qué es la igualdad?</li>
                <li>1.2	El principio de igualdad y no discriminación</li>
                <li>1.3	La igualdad sustantiva</li>
                <li>1.4	Los derechos humanos de las mujeres</li>
              </ul>
            </div>
          </b-collapse>
          <b-collapse :open="false">
            <p slot="trigger"
               class="pregunta is-size-5">

              2. Las desigualdades entr mujeres y hombres
              <fa-icon icon="angle-down" />
            </p>
            <div class="content">
              <p class="is-size-5">Objetivo:</p>
              <p class="is-size-5">Dimensionar las principales expresiones de la desigualdad entre mujeres y hombres.</p>
              <p class="is-size-5">Subtemas:</p>
              <ul>
                <li>2.1	Las desigualdades que afectan a las mujeres</li>
                <li>2.2	¿Por qué persisten las desigualdades contra las mujeres?</li>
                <li>2.3	Acciones para lograr la igualdad entre mujeres y hombres</li>
              </ul>
            </div>
          </b-collapse>
          <b-collapse :open="false">
            <p slot="trigger"
               class="pregunta is-size-5">
              3. Obligaciones del gobierno mexicano en materia de igualdad
              <fa-icon icon="angle-down" />
            </p>
            <div class="content">
              <p class="is-size-5">Objetivo:</p>
              <p class="is-size-5">Comprender las obligaciones que la normatividad en materia de igualdad establece para el gobierno mexicano.</p>
              <p class="is-size-5">Subtemas:</p>
              <ul>
                <li>3.1 CEDAW</li>
                <li>3.2 Belém do Pará</li>
                <li>3.3 Reforma constitucional en materia de Derechos Humanos</li>
                <li>3.4 Ley General para la Igualdad entre Mujeres y Hombres</li>
                <li>3.5 Ley General de Acceso de las Mujeres a una Vida Libre de Violencia</li>
                <li>3.6 Ley Federal para Prevenir y Eliminar la Discriminación</li>
                <li>3.7 Ley de Planeación</li>
                <li>3.8 Ley Federal de Presupuesto y Responsabilidad Hacendaria</li>
                <li>3.9 Protocolo para la prevención, atención y sanción del hostigamiento sexual y acoso sexual</li>
                <li>3.10 Reglas de Operación para incorporar la perspectiva de género en los Programas Federales</li>
              </ul>
            </div>
          </b-collapse>
          <b-collapse :open="false">
            <p slot="trigger"
               class="pregunta is-size-5">

              4. Mi relevante papel en la construcción de la igualdad entre mujeres y hombres
              <fa-icon icon="angle-down" />
            </p>
            <div class="content">
              <p class="is-size-5">Objetivo:</p>
              <p class="is-size-5">Promover la adopción de compromisos indispensables que las personas del servicio público debemos asumir, para hacer efectiva la igualdad sustantiva entre mujeres y hombres.</p>
              <p class="is-size-5">Subtemas:</p>
              <ul>
                <li>4.1	Mirar con los lentes de género</li>
                <li>4.2	Eliminar los estereotipos que obstaculizan la igualdad</li>
                <li>4.3 Emplear lenguaje incluyente y no sexista</li>
                <li>4.4 Fomentar relaciones igualitarias en mi entorno laboral</li>
                <li>4.5 Combatir y denunciar el hostigamiento sexual y acoso sexual</li>
                <li>4.6 Promover acciones que concilien la vida familiar y laboral</li>
                <li>4.7 Conocer e impulsar las acciones por la igualdad que competen a la institución</li>
                <li>4.8	Conocer y utilizar datos, estadísticas e indicadores con perspectiva de género</li>
                <li>4.9	Capacitarme y/o profesionalizarme en materia de igualdad</li>
                <li>4.10 Mi compromiso personal por la igualdad entre mujeres y hombres</li>
              </ul>
            </div>
          </b-collapse>
          <b-collapse :open="false">
            <p slot="trigger"
               class="is-size-5 pregunta is-size-5">

              Cierre
              <fa-icon icon="angle-down" />
            </p>
            <div class="content">
              <p class="is-size-5">El contenido íntegro del curso estará disponible en PDF y lo puedes descargar en el Módulo de Cierre.</p>
            </div>
          </b-collapse>
        </div>


        <h4 class="title is-4">Requerimientos</h4>
        <p class="is-size-5">Para realizar el curso asegúrate que dispones de: </p>
        <ul>
          <li>Un equipo de cómputo y acceso a Internet</li>
          <li>Tarjeta de sonido, bocinas o audífonos</li>
          <li>Conexión a internet con una velocidad mínima de 1mb</li>
          <li>Tener activado el JavaScript de su navegador (indispensable)</li>
          <li>
            Curso optimizado para Navegadores web Google Chrome® Versión 50 o posterior y Mozilla Firefox® versión 45 o posterior
            <ul>
              <li>
                <a href="https://support.google.com/chrome/answer/95346?co=GENIE.Platform%3DDesktop&hl=es">
                  Descarga e Instalación de Chrome
                </a>
              </li>
              <li>
                <a href="https://www.mozilla.org/es-MX/firefox/new/">
                  Descarga e Instalación de Firefox
                </a>
              </li>
            </ul>
          </li>
          <li>Curso optimizado para una resolución de pantalla de 1260px de ancho o superior y un alto de 588px o superior</li>
          <li>Adobe Acrobat Reader® ver 5.0 o superior</li>
          <li>Tener habilitado el servicio de Streaming para visualizar los videos</li>
        </ul>
        <h4 class="title is-4">Recomendaciones </h4>
        <p class="is-size-5">Es importante tener en cuenta:  </p>
        <ul>
          <li>Que el curso se realiza en línea y ello puede implicar un esfuerzo especial de tu parte para organizar la concentración y el tiempo que destinarás para cumplirlo.</li>
          <li>Antes de iniciar el curso responde el cuestionario de evaluación diagnóstica que se encuentra disponible en el módulo de inicio, misma que no tiene peso en tu calificación.</li>
          <li>Es indispensable revisar la totalidad de contenidos y cumplir con todas las actividades y evaluaciones que forman parte del curso.</li>
          <li>Puedes realizar el curso en 4 horas. Si te implica menos o más tiempo, ello no afecta en nada tu desempeño o resultado final.</li>
          <li>Antes de realizar la evaluación final, repasa los contenidos y si consideras necesario, realiza nuevamente las actividades incluidas en el curso.</li>
          <li>Recuerda que el alcance de este curso es a nivel de inducción, con aproximaciones a algunas nociones conceptuales y precisiones sobre las obligaciones jurídico-normativas fundamentales en materia de igualdad entre mujeres y hombres. Aunado a ello, se incluyen contenidos y referencias que puedes consultar si te interesa profundizar en algún tema.</li>
        </ul>
        <h4 class="title is-4">Evaluación </h4>
        <p class="is-size-5">El curso incluye tres tipos de evaluaciones:</p>
        <p class="is-size-5"><strong>a.</strong> El cuestionario o evaluación diagnóstica de inicio y cierre (pretest y postest). Como su nombre lo indica, lo realizarás antes y al finalizar el curso con el único propósito de conocer la información y las nociones con las que llegas a tu inducción y con las que concluyes. No tiene ponderación en la calificación de tu desempeño en el curso. Al finalizar el curso podrás ver los resultados que obtengas de estas dos evaluaciones en el módulo de inicio y cierre respectivamente.</p>

        <p class="is-size-5"><strong>b.</strong> Los Juegos de Trivias. Son evaluaciones intermedias que encontrarás al finalizar cada tema. Su propósito es que puedas ejercitar y reforzar tus aprendizajes. No tienen ponderación en tu calificación global y tienes un número ilimitado de intentos de respuesta para obtener los puntos que te otorgarán estrellas que tendrá tu insignia .</p>
        <p class="is-size-5"><strong>c.</strong> La Evaluación Final del curso. Es el único instrumento del curso que cuenta con ponderación a través del cual se evaluarán la totalidad de los conocimientos y aprendizajes obtenidos en el curso.</p>
        <p class="is-size-5">Contarás con tres oportunidades para realizarla y se tomará en cuenta la calificación más alta. La nota mínima aprobatoria es 7 (siete).</p>
        <h4 class="title is-4">Encuesta de Satisfacción</h4>
        <ul>
          <li>La Encuesta de Satisfacción la encontrarás en el Módulo de Cierre del curso y su propósito es valorar tu opinión general sobre el curso.  Te exhortamos a responderla con honestidad, seriedad y entendiendo que tus valoraciones serán tomadas en cuenta para mejorar las próximas ediciones de este curso.</li>
          <li>Además, responder esta herramienta es requisito para que accedas a la descarga de tu Constancia que avala la realización del curso. En suma: ¡Tú participación es muy importante!</li>
        </ul>
        <h4 class="title is-4">Constancia</h4>
        <p class="is-size-5">Para obtener tu constancia que avala la realización del curso, son requisitos indispensables, realizar y obtener una calificación igual o superior a 7 en la evaluación final y contestar la encuesta de satisfacción.</p>
        <p class="is-size-5">Es importante que la descargues en ese momento, de no hacerlo podrás solicitarla vía soporte técnico durante los siete días naturales posteriores a la fecha de cierre del curso. Después de este plazo, ya no podrás obtener tu constancia.</p>

        <h4 class="title is-4">Insignia </h4>
        <p class="is-size-5">Al concluir exitosamente tu curso de inducción, podrás obtener tu distintivo insignia “Yo me activo por la igualdad”, la cual mostrará las estrellas que obtengas a través de tus respuestas correctas en los Juegos de Trivias y podrás personalizarla y ubicarla en un lugar visible de tu estación de trabajo.</p>
        <p class="is-size-5">Cada respuesta correcta es un punto que acumularás, de esta manera podrás obtener:</p>
        <ul>
          <li>5 estrellas por 20 puntos</li>
          <li>4 estrellas por 16 a 19 puntos</li>
          <li>3 estrellas por 12 a 15 puntos</li>
          <li>2 estrellas por 8 a 11 puntos</li>
          <li>1 estrella por 4 a 7 puntos</li>
          <li>0 estrellas por menos de 4 puntos</li>
        </ul>

        <h4 class="title is-4">Dudas, aclaraciones o dificultades</h4>
        <p class="is-size-5">Como participante del curso puedes solicitar ayuda o resolver dudas de carácter técnico, es decir; si tienes dificultades para acceder al curso, visualizar actividades, problemas en la navegación o con el funcionamiento en general, en la siguiente dirección:<a href="http://aplicaciones.inmujeres.gob.mx/soporte/">http://aplicaciones.inmujeres.gob.mx/soporte/</a></p>

      </div>
    </section>

    <!-- eslint-enable max-len -->
  </main>
</template>
<script>
// import Vue from 'vue'
// import Buefy from 'buefy'

// Vue.use(Buefy)

export default {
  name: 'GuiaCurso',
  head: {
    title: 'Guia del curso',
  },
}
</script>
<style lang="scss" scoped>
@import '../assets/sass/base/basic';

.instruccion {
  font-size: 0.8rem;
}

/* eslint-disable selector-max-type */
.container {
  text-align: justify;
}

/* eslint-enable selector-max-type */
.pregunta {
  background: $primary;
}

.collapsable {
  padding: 1rem;

  .pregunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .fas {
    margin: 0 1rem;
  }

  .content {
    padding: 1rem;
    border: 2px solid $primary;
  }

  .link {
    word-break: break-all;
  }
}
</style>
