<template>
  <main class="page--inner">
    <!-- eslint-disable max-len -->
    <section class="chapter-head">
      <div class="nav-left">
        <router-link to="/inicio/">
          <fa-icon icon="chevron-circle-left" />
        </router-link>
      </div>
      <div class="container">
        <h2 class="title is-3 is-inner-title">
          1. Igualdad: <br>principio y derecho
        </h2>
      </div>
      <div class="nav-right">
        <router-link to="/desigualdades">
          <fa-icon icon="chevron-circle-right" />
        </router-link>
      </div>
    </section>
    <section class="intro">
      <div class="container">
        <div class="character">
          <img
            class="image"
            src="@/assets/images/personajes/mujer-indigena.gif"
            alt="Personaje">
        </div>
        <div class="the-content">
          <div class="intro-container">
            <div class="square-dialog" />
            <carousel-wrapper>
              <slide>
                <p>En este primer tema del curso revisaremos en qué consiste la igualdad como principio jurídico y derecho clave de otros derechos, su relación con la no discriminación, con los derechos humanos de las mujeres y con la igualdad sustantiva entre hombres y mujeres. </p>
              </slide>
              <slide>
                <p>La igualdad es uno de los principios y valores superiores del orden jurídico mexicano, ya que establece que todas las personas sin distinción alguna tienen los mismos derechos y deben tener igual acceso a ellos; lo que implica eliminar los obstáculos que impiden su pleno goce y ejercicio. Y por ello, resulta indispensable referirnos también a la igualdad y no discriminación.</p>
              </slide>
            </carousel-wrapper>
          </div>
        </div>
      </div>
    </section>
    <section class="section actividad">
      <div class="">
        <div class="instrucciones">
          <img
            src="@/assets/images/icons/actividad.svg"
            alt=""
            class="is-section-icon">
          <p>En este tema conocerás qué significa la igualdad y las principales nociones que se vinculan a su construcción en tanto derecho y práctica en la vida cotidiana. <em>Te invitamos a dar clic a cada una de las cartas activas para conocer más</em>: </p>
        </div>
        <iframe
          id="infografia"
          class="juego-cartas is-hidden-mobile"
          src="./infografia/tema1.html?v=7"
          frameborder="0" />
        <div class="mobile-warn">
          Para ver este contenido es necesario una pantalla de mínimo 1260x588 px.
        </div>
      </div>
    </section>
    <section class="section trivia">
      <div class="is-hidden-mobile">
        <img
          src="@/assets/images/icons/trivia.svg"
          class="is-section-icon"
          alt="">
        <div class="">
          <div class="columns">
            <div class="column">
              <container-trivia
                id="trivia"
                :trivia-id="1"
                src="./trivias/Trivia1.html?v=11" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- eslint-enable max-len -->
  </main>
</template>
<script>
import ContainerTrivia from '@/components/ContainerTrivia.vue'
import CarouselWrapper from '@/components/CarouselWrapper.vue'
import { Slide } from 'vue-carousel'

export default {
  name: 'MDuloDeInicio',
  head: {
    title: 'La igualdad: principio constitucional y derecho humano',
  },
  components: {
    ContainerTrivia,
    CarouselWrapper,
    Slide,
  },
}
</script>
