<template>
  <!-- eslint-disable max-len -->
  <main class="page--index">
    <section class="section">
      <div class="container">
        <div class="home-header">
          <img
            src="@/assets/images/personajes/todos.png"
            class="personajes"
            alt="Personajes del curso Inducción a la igualdad entre mujeres y hombres">
          <div>
            <h3 class="title is-3">
              Curso en línea
            </h3>
            <h1 class="title is-1">
              Inducción a la igualdad <br>entre mujeres y hombres
            </h1>
          </div>
        </div>

        <div class="bx-modules">
          <anchor-module
            href="/inicio/"
            :source="require('@/assets/images/personajes/godines.png')"
            tone="is-tone-one">
            <span slot="secuence">
              Inicio
            </span>
          </anchor-module>

          <anchor-module
            href="/igualdad/"
            :source="require('@/assets/images/personajes/mujer-indigena.png')">
            <span slot="secuence">
              1
            </span> Igualdad:<br> principio y derecho
          </anchor-module>
          <anchor-module
            href="/desigualdades/"
            :source="require('@/assets/images/personajes/nina.png')">
            <span slot="secuence">
              2
            </span> Las desigualdades entre mujeres y hombres
          </anchor-module>
          <anchor-module
            href="/obligaciones/"
            :source="require('@/assets/images/personajes/hombre-adulto-mayor.png')">
            <span slot="secuence">
              3
            </span>Obligaciones<br> del gobierno mexicano<br> en materia de igualdad
          </anchor-module>
          <anchor-module
            href="mi-papel"
            :source="require('@/assets/images/personajes/mujer-discapacitada.png')">
            <span slot="secuence">
              4
            </span>Mi relevante papel en la<br> construcción de la igualdad entre mujeres y hombres
          </anchor-module>
          <anchor-module
            href="cierre"
            :source="require('@/assets/images/personajes/godines.png')"
            tone="is-tone-one">
            <span slot="secuence">
              Cierre
            </span>
          </anchor-module>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import AnchorModule from '@/components/AnchorModule.vue'

export default {
  head() {
    return {
      title: 'Inducción a la igualdad entre mujeres y hombres',
    }
  },
  components: {
    AnchorModule,
  },
}
</script>

<style lang="scss" scoped>
@import '../assets/sass/base/basic';
// stylelint-disable no-extra-semicolons
// .hero {
//   position: relative;

//   .image {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

.home-header {
  display: flex;
  align-items: center;
  @include until($tablet) {
    flex-flow: column;
  }
  @include from($tablet) {
    flex-flow: row;
  }

  .title {
    margin: 0;
    color: #565656;
  }

  .title.is-1 {
    display: block;
    flex-grow: 2;
    @include until($tablet) {
      font-size: 2rem !important;
      text-align: center;
    }
    @include from($tablet) {
      font-size: 4rem !important;
      text-align: left;
    }
  }
}

.personajes {
  @include until($tablet) {
    max-height: 14rem;
  }
  @include from($tablet) {
    max-height: 13rem;
    margin: 0 3rem;
  }
}
</style>
