<template>
  <main class="page--inner">
    <!-- eslint-disable max-len -->
    <section class="chapter-head">
      <div class="container">
        <h2 class="title is-3 is-inner-title">
          Inicio
        </h2>
      </div>
      <div class="nav-right">
        <router-link to="/igualdad">
          <fa-icon icon="chevron-circle-right" />
        </router-link>
      </div>
    </section>
    <section class="intro">
      <div class="container">
        <div class="character">
          <img
            class="image"
            src="@/assets/images/personajes/godines.gif"
            alt="Personaje">
        </div>
        <div class="the-content">
          <div class="intro-container">
            <div class="square-dialog" />
            <carousel-wrapper>
              <slide>
                <p>El Instituto Nacional de las Mujeres (INMUJERES), en cumplimiento a las atribuciones que le confiere la ley específica que lo rige y como órgano rector de la Política Nacional en materia de igualdad entre mujeres y hombres, pone a disposición de las entidades y dependencias de la Administración Pública Federal el curso en línea: “Inducción a la igualdad entre mujeres y hombres”.</p>
              </slide>
              <slide>
                <p>Este curso de inducción, tiene el propósito de facilitar la comprensión de los mandatos y obligaciones que se derivan de la normatividad para la igualdad y no discriminación.</p>
              </slide>
              <slide>
                <p>Recuerda que la sociedad espera que tu vocación por el servicio público, se traduzca en políticas públicas que erradiquen la discriminación por razones de género, con miras a lograr que mujeres y hombres se desarrollen plenamente en todos los ámbitos de sus vidas. Sin más demora, te invitamos a observar el siguiente video explicativo de la inducción que recibirás en este curso.</p>
              </slide>
            </carousel-wrapper>
          </div>
        </div>
      </div>
    </section>
    <section class="section actividad">
      <div class="">
        <div class="instrucciones">
          <img
            src="@/assets/images/icons/video.svg"
            alt=""
            class="is-section-icon">
          <p class="has-emphasis">
            Presentación
          </p>
          <p class="is-regular">
            Te invitamos a dar clic en el botón play del video de presentación del curso:
          </p>
        </div>
        <div class="video-frame iframe is-hidden-mobile">
          <video class="video"
                 poster="@/assets/video/introduccion.png"
                 controls>
            <source src="@/assets/video/introduccion_v4.mp4"
                    type="video/mp4">
            Tu navegador no soporta videos
          </video>
        </div>
        <div class="mobile-warn">
          Para ver este contenido es necesario una pantalla de 1260px de ancho o superior y un alto de 588px
        </div>
      </div>
    </section>
    <section class="section moodle">
      <div class="instrucciones">
        <img
          src="@/assets/images/icons/moodle.svg"
          alt="pretext"
          class="is-section-icon">
        <p class="has-emphasis is-regular">
          Evaluación Diagnóstica Inicial
        </p>
        <p class="is-regular">
          Responde la siguiente evaluación diagnóstica cuya finalidad es conocer tus conocimientos previos sobre los temas que se revisarán en el curso. Esta no contará para tu calificación final.
        </p>
      </div>
      <iframe-moodle :index="0"
                     section="inicio" />
    </section>
    <!-- eslint-enable max-len -->
  </main>
</template>
<script>
import IframeMoodle from '@/components/IframeMoodle.vue'
import CarouselWrapper from '@/components/CarouselWrapper.vue'
import { Slide } from 'vue-carousel'

export default {
  name: 'MDuloDeInicio',
  head: {
    title: 'Inicio',
  },
  components: { IframeMoodle, CarouselWrapper, Slide },
}
</script>
