<template>
  <main class="page--inner">
    <!-- eslint-disable max-len -->
    <section class="chapter-head">
      <div class="nav-left">
        <router-link to="/obligaciones">
          <fa-icon icon="chevron-circle-left" />
        </router-link>
      </div>
      <div class="container">
        <h2 class="title is-3 is-inner-title">
          4. Mi relevante papel en la<br> construcción de la igualdad entre mujeres y hombres
        </h2>
      </div>
      <div class="nav-right">
        <router-link to="/cierre">
          <fa-icon icon="chevron-circle-right" />
        </router-link>
      </div>
    </section>
    <section class="intro">
      <div class="container">
        <div class="character">
          <img
            class="image"
            src="@/assets/images/personajes/mujer-discapacitada.gif"
            alt="Personaje">
        </div>
        <div class="the-content">
          <div class="intro-container">
            <div class="square-dialog" />
            <carousel-wrapper>
              <slide>
                <p> En este último tema comprenderás la importancia que el desempeño de tus funciones y tu vocación por el servicio público tienen en el cumplimiento de los compromisos y acciones para hacer efectiva la igualdad entre hombres y mujeres </p>
              </slide>
              <slide>
                <p>Asimismo, reflexionarás sobre los cambios favorables que de ello se derivan para ti a nivel personal, en el quehacer cotidiano de las instituciones, en la integralidad e impacto de las acciones de política pública y por ende en nuestro país. </p>
              </slide>
              <slide>
                <p>El papel que tendrás como persona servidora pública es muy valioso y de ti depende que se distinga por la convicción y el compromiso activo en torno a diez compromisos de vital importancia para la igualdad entre mujeres y hombres. </p>
              </slide>
              <slide>
                <p>Te invitamos a apropiarte del “Decálogo por la igualdad” y ser parte activa y protagonista de las acciones indispensables para que se convierta en una realidad sustantiva para todas y todos. </p>
              </slide>
            </carousel-wrapper>
          </div>
        </div>
      </div>
    </section>
    <section class="section actividad">
      <div class="">
        <div class="instrucciones">
          <img
            src="@/assets/images/icons/actividad.svg"
            alt=""
            class="is-section-icon">
          <p>
            Para desempeñar un papel activo en pro de la igualdad entre mujeres y hombres, comencemos por adoptar las siguientes diez acciones indispensables  para lograrlo:
          </p>
          <p><em>¡Da clic en cada compromiso!</em></p>
        </div>

        <div class="iframe compromisos is-hidden-mobile">
          <compromisos />
        </div>
        <div class="mobile-warn">
          Para ver este contenido es necesario una pantalla de mínimo XY.
        </div>
      </div>
    </section>
    <section class="section trivia">
      <div class="is-hidden-mobile">
        <img
          src="@/assets/images/icons/trivia.svg"
          class="is-section-icon"
          alt="">
        <div class="">
          <div class="columns">
            <div class="column">
              <container-trivia
                :trivia-id="4"
                src="./trivias/Trivia4.html?v=1" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- eslint-enable max-len -->
  </main>
</template>
<script>
import ContainerTrivia from '@/components/ContainerTrivia.vue'
import Compromisos from '@/components/Compromisos.vue'
import CarouselWrapper from '@/components/CarouselWrapper.vue'
import { Slide } from 'vue-carousel'

export default {
  name: 'MDuloDeInicio',
  head: {
    title: 'Mi relevante papel',
  },
  components: {
    ContainerTrivia,
    Compromisos,
    CarouselWrapper,
    Slide,
  },
  data() {
    return {
      showModal: false,
    }
  },
}
</script>
