<template>
  <div class="hero is-danger is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Página no encontrada</h1>
        <router-link to="/"
                     class="button is-white">Ir al inicio</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
}
</script>
