<template>
  <main class="page--inner">
    <!-- eslint-disable max-len -->
    <section class="chapter-head">
      <div class="nav-left">
        <router-link to="/desigualdades">
          <fa-icon icon="chevron-circle-left" />
        </router-link>
      </div>
      <div class="container">
        <h2 class="title is-3 is-inner-title">
          3. Obligaciones del gobierno mexicano<br> en materia de igualdad
        </h2>
      </div>
      <div class="nav-right">
        <router-link to="/mi-papel">
          <fa-icon icon="chevron-circle-right" />
        </router-link>
      </div>
    </section>
    <section class="intro">
      <div class="container">
        <div class="character">
          <img
            class="image"
            src="@/assets/images/personajes/adulto-mayor-marron.gif"
            alt="Personaje">
        </div>
        <div class="the-content">
          <div class="intro-container">
            <div class="square-dialog" />
            <h4 class="title is-4 has-text-centered">
              Introducción
            </h4>

            <carousel-wrapper>
              <slide>
                <p>Como vimos en los temas anteriores, la igualdad es un principio jurídico y un derecho fundamental que obliga al reconocimiento y exigibilidad de todos los derechos y de las mismas oportunidades para todas las personas.</p>
              </slide>
              <slide>
                <p>El Estado mexicano se ha comprometido a promover la igualdad entre mujeres y hombres. Este compromiso obedece al reconocimiento de que en nuestra sociedad persisten desigualdades que impiden asegurar para todas las personas, independientemente de su sexo, el pleno ejercicio de derechos y el acceso a oportunidades de bienestar y desarrollo. </p>
              </slide>
              <slide>
                <p>Para ello, el Estado mexicano se ha involucrado activamente en la eliminación de todas las formas de discriminación contra las mujeres, a través de la adhesión a convenciones internacionales y estableciendo mandatos en la legislación nacional y políticas públicas para el logro de la igualdad entre mujeres y hombres. </p>
              </slide>
              <slide>
                <p>Es importante que conozcas que tú como persona servidora pública, también tienes estos compromisos y obligaciones en materia de igualdad entre mujeres y hombres; y por supuesto, frente a los derechos humanos. </p>
              </slide>
            </carousel-wrapper>

          </div>
        </div>
      </div>
    </section>

    <section class="section actividad">
      <div class="">
        <div class="instrucciones">
          <img
            src="@/assets/images/icons/actividad.svg"
            class="is-section-icon"
            alt="">

          <p>Haremos un recorrido para conocer los compromisos y obligaciones que el gobierno federal como parte del Estado mexicano, tiene en materia de derechos humanos y para lograr la igualdad entre mujeres y hombres.</p>
          <p class="has-emphasis">
            Sigue las indicaciones para viajar por los países y lugares que marca la ruta, lee con atención cada recuadro de los sitios que visitas, ya que al pasar a otro, no podrás regresar al anterior y solo lo verás nuevamente si reinicias el recorrido.
            Para comenzar da clic en el botón.<img
              src="@/assets/images/icons/btn_play.png"
              alt="icon_play"
              class="icon-size">
          </p>
        </div>
      </div>
      <iframe
        id="cartaNavegacion"
        class="carta-navegacion-hype is-hidden-mobile"
        src="./carta-navegacion/carta-navegacion-v2.html?v=7"
        frameborder="0" />

      <div class="mobile-warn">
        Para ver este contenido es necesario una pantalla de mínimo XY.
      </div>
    </section>
    <section class="section trivia">
      <div class="is-hidden-mobile">
        <img
          src="@/assets/images/icons/trivia.svg"
          class="is-section-icon"
          alt="">
        <div class="">
          <div class="columns">
            <div class="column">
              <container-trivia
                :trivia-id="3"
                src="./trivias/Trivia3.html?v=5" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- eslint-enable max-len -->
  </main>
</template>

<script>
import CarouselWrapper from '@/components/CarouselWrapper.vue'
import { Slide } from 'vue-carousel'

import ContainerTrivia from '@/components/ContainerTrivia.vue'

export default {
  name: 'Index',
  head: {
    title: 'Obligaciones del gobierno mexicano en materia de igualdad',
  },
  components: {
    ContainerTrivia,
    CarouselWrapper,
    Slide,
  },
  data: () => ({
    files: [],
  }),
}
</script>
