<template>
  <div class="carta-navegacion">
    <!-- eslint-disable max-len -->
    <span class="bx-output">
      <fa-icon icon="map-marker-alt"
               symbol />
      CurrentStep: {{ currentStep }} MaxNumber: {{ stepsLength }}  | isLast: {{ isLast }}
    </span>
    <div class="scene">
      <div class="scene__content">
        <div class="markers">
          <svg
            v-for="(step, index) of steps"
            v-show="currentStep === index"
            :key="index"
            :target-step="index"
            :class="'marker-'+step.target">
            <use xlink:href="#map-marker-alt" />
          </svg>
        </div>
        <transition-group name="page">
          <nav-step
            v-for="(step, index) of steps"
            v-show="currentStep === index"
            :key="index"
            :current-step="currentStep"
            :step="step"
            :total-of-steps="stepsLength"
            :is-first="isFirst"
            :is-last="isLast"
            :prev-step="prevStep"
            :next-step="nextStep">
            {{ step.content }}
          </nav-step>
        </transition-group>
      </div>
      <div class="scene__background">
        <img
          class="image"
          src="/images/carta-navegacion/mapa-limpio.jpg"
          alt="Carta de navegación">
      </div>
    </div>
    <!-- eslint-enable max-len -->
  </div>
</template>
<script>
import NavStep from './CartaNavegacionStep.vue'

export default {
  components: {
    NavStep,
  },
  props: {
    source: {
      type: String,
      default: '/images/mapa-limpio.jpg',
    },
    targetStep: {
      type: Number,
      default: 0,
    },
  },
  data: () => ({
    /* eslint-disable max-len */
    currentStep: 0,
    steps: [
      {
        image: '/images/carta-navegacion/paris.jpg',
        target: 'paris',
        content: `
        <img src="" class="image" />
          <p>Estamos por iniciar nuestro recorrido, pero antes de partir, es importante que sepas que los derechos humanos son producto de la lucha por la dignidad, la libertad y la igualdad en todo el mundo; sin embargo, fue hasta el establecimiento de la Organización de las Naciones Unidas (ONU) que se convirtieron en preocupación y aspiración mundial a través de la promulgación de la Declaración Universal de Derechos Humanos, en 1948. Esta Declaración fue firmada por nuestro país en ese mismo año.</p>
          <p>¡Ahora, vamos a iniciar nuestro gran viaje!</p>
          <p class="annotation">Da clic en cada ícono de localización</p>
          `,
      },
      {
        image: '/images/carta-navegacion/onu_building.jpg',
        target: 'nyc',
        content: `
          <p>Iniciaremos por el Sistema Universal de Protección de los Derechos Humanos que nace en la ONU y está conformado por una serie de tratados, organismos y mecanismos; cuyo fin es la promoción y protección de los derechos universales.</p>
          <p>En este Sistema, se encuentra la Carta Internacional de Derechos Humanos, que contiene disposiciones sobre la igualdad y la no discriminación.  No obstante, el instrumento internacional más importante para la igualdad entre mujeres y hombres es la Convención sobre la Eliminación de Todas las Formas de Discriminación contra la Mujer: la “CEDAW”.</p>
        `,
      },
      {
        target: 'nyc-onu',
        content: `
          <p>La CEDAW fue adoptada por la Asamblea General de las Naciones Unidas en 1979, México la suscribe en 1980 y la ratifica en 1981. Es considerada como la <strong>“Carta Internacional de Derechos Humanos de la Mujer”</strong> por ser el primer tratado universal que reconoce expresamente los derechos humanos de las mujeres y puntualiza la obligación de los Estados para su protección en los ámbitos político, económico, social y cultural.</p>

          <p>Además, reconoce la existencia de patrones socioculturales que discriminan a las mujeres. Por ello, señala que los Estados deben incluir el principio de igualdad en sus leyes y normas, e implementar medidas especiales de carácter temporal, enfocadas en lograr la igualdad real o <em >sustantiva</em> entre mujeres y hombres, así como otras medidas para eliminar los patrones culturales y sociales que originan las desigualdades.</p>
          <p>La CEDAW marca la pauta a seguir para que los Estados pongan en práctica todas las medidas necesarias para prevenir y eliminar la discriminación contra las mujeres. México al ratificarla, está obligado a respetar, promover, proteger y garantizar el derecho a la igualdad.</p>
          <p >Te invitamos a conocer la “CEDAW” dando <a href="http://www.un.org/womenwatch/daw/cedaw/text/sconvention.htm"   target="_blank">clic aquí</a>, por lo pronto sigue tu recorrido a través de tres de sus artículos.</p>
          <p class="annotation">¡Adelante, da clic en cada uno!</p>
        `,
      },
    ],
  }),
  computed: {
    stepsLength() {
      return this.steps.length - 1
    },
    isFirst() {
      return this.currentStep === 0
    },
    isLast() {
      return this.currentStep === this.steps.length - 1
    },
  },
  mounted() {
    // console.log(this.$refs)
  },
  methods: {
    nextStep() {
      if (this.currentStep <= this.steps.length) {
        this.currentStep += 1
      }
    },
    prevStep() {
      if (this.currentStep >= 0) {
        this.currentStep -= 1
      }
    },
  },
}
</script>
<style lang="scss" scoped>
@import '@/assets/sass/base/variables';
$cafe: #63442e;
$beige: #f3f0e8;
$azul: #384658;

.carta-navegacion {
  padding-bottom: 3px;
}

.scene {
  width: 1024px;
  border: thin solid $cafe;
  margin: 0 auto;

  &__background {
    position: relative;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;

    .markers {
      z-index: 1;
      position: absolute;
    }
  }

  .annotation {
    font-weight: bolder;
    color: $azul;
  }
}

.markers {
  .fas {
    position: relative;
    color: $azul;
    font-size: 2.5rem;
  }

  .marker-paris {
    top: 215px;
    left: 352px;
  }

  .marker-nyc {
    top: 227px;
    left: 190px;
  }

  .marker-nyc-onu {
    top: 225px;
    left: 195px;
  }
}

.bx-output {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 90;
  background: $white;
  color: $black;
  border: 1px solid $black;
  padding: 1rem;
}
</style>
