<template>
  <div
    class="step">
    <!-- eslint-disable vue/no-v-html -->
    <div class="inner-scroll">
      <slot name="content">
        <div vi-if="step.image">
          <img
            :src="step.image"
            class="image">
        </div>
        <div
          v-if="step.content"
          v-html="step.content" />
        <div v-else>
          Este es el contenido por default
        </div>
      </slot>
    </div>
    <button
      v-if="isFirst === false"
      class="button"
      @click="prevStep">
      Anterior
    </button>
    <button
      v-if="isLast != true"
      class="button"
      @click="nextStep">
      Siguiente
    </button>
    <!-- eslint-enable max-len -->
  </div>
</template>

<script>
export default {
  name: 'NavStep',
  props: {
    step: {
      type: Object,
      default: null,
    },
    prevStep: {
      type: Function,
      default: undefined,
    },
    nextStep: {
      type: Function,
      default: undefined,
    },
    isFirst: {
      type: Boolean,
      default: true,
    },
    isLast: {
      type: Boolean,
      default: undefined,
    },
    numberOfStep: {
      type: String,
      default: '1',
    },
    totalOfSteps: {
      type: Number,
      default: 1,
    },
  },
  computed: {
    tellTheTrue() {
      // mi console log de bolsillo
      return this.step
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/sass/base/variables';
$cafe: #63442e;
$beige: #f3f0e8;
$azul: #384658;

.step {
  position: absolute;
  right: 0;
  width: 400px;
  padding: 1rem;
  background-color: rgba($beige, 0.65);

  .fas {
    font-size: 2rem;
    color: $azul;
  }

  .inner-scroll {
    max-height: 500px;
    overflow: auto;
    border-bottom: 1px solid rgba($cafe, 0.5);

    .image {
      width: 100%;
      margin-left: -1rem;
    }
  }
}
</style>
