<template lang="html">
  <div class="module">
    <component :is="isExternalLink ? 'a' : 'router-link'"
               :href="href"
               :to="href">
      <div class="bar">
        <div
          :class="tone"
          class="color" />
        <span class="secuence">
          <slot name="secuence" />
        </span>
        <h3 class="title is-3">
          <slot />
        </h3>
        <img
          :src="source"
          alt=""
          class="character is-righty">
      </div>
    </component>
  </div>
</template>
<script>
import externalLink from '@/mixins/external-link'

export default {
  mixins: [externalLink],
  props: {
    source: {
      type: String,
      default: '',
    },
    tone: {
      type: String,
      default: 'is-tone-two',
    },
  },
}
</script>
<style lang="scss">
@import '../assets/sass/base/basic';
@import url('https://fonts.googleapis.com/css?family=Lato');
//
//$module-color: #6d1241;
//opción 1
$module-color: #b30347;
//opcion 2
//$module-color: #bf311a;
.bx-modules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.module {
  position: relative;
  overflow: hidden;
  @include until($tablet) {
    width: 95%;
  }

  @include from($tablet) {
    width: 47.5%;
  }

  &:hover {
    .character {
      animation: chover 1s linear 1;
    }

    .secuence {
      color: rgba($white, 0.5);
      transition: color 1s;
    }
  }

  .bar {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 12rem;
    margin-top: 4rem;
    font-family: Roboto, sans-serif;
    color: $white;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;

    .color {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 80%;
      border-radius: 1rem;

      &.is-tone-one {
        // prettier-ignore
        background:
          linear-gradient(
            to bottom,
            $gradient-a-top,
            $gradient-a-bottom
          );
      }

      &.is-tone-two {
        // prettier-ignore
        background:
          linear-gradient(
            to bottom,
            $gradient-b-top,
            $gradient-b-bottom
          );
      }
    }

    .title {
      width: 90%;
      flex-grow: 2;
    }

    .character {
      height: 16rem;

      &.is-righty {
        right: 1rem;
        bottom: 1rem;
        margin-left: 1rem;
      }
    }
  }

  .title {
    position: relative;
    z-index: 5;
    display: inline-block;
    margin: 1rem 0;
    font-family: Lato, sans-serif;
    font-weight: bolder !important;
    color: $white;

    @include until($tablet) {
      font-size: 1.3rem !important;
    }
    @include from($tablet) {
      font-size: 1.9rem !important;
      text-align: right;
    }
  }
}

.secuence {
  display: inline-block;
  margin: 0 1rem 0.8rem;
  font-weight: bolder;
  line-height: 6rem;
  color: rgba($white, 1);
  transition: color 2s;
  @include until($tablet) {
    font-size: 3rem;
  }
  @include from($tablet) {
    font-size: 6rem;
  }
}

@keyframes chover {
  0% {
    transform: scale(1, 1);
    transform-origin: 50% 100%;
  }

  50% {
    transform: scale(0.95, 0.95);
    transform-origin: 50% 100%;
  }

  80% {
    transform: scale(1.05, 1.05);
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1, 1);
    transform-origin: 50% 100%;
  }
}
</style>
