<script>
import { Carousel } from 'vue-carousel'

export default {
  name: 'CarouselWrapper',
  functional: true,
  render(h, ctx) {
    const baseArrow = direction =>
      // eslint-disable-next-line max-len
      `<svg class="svg-icon" style="font-size:2.5rem"><use xlink:href="#fas-fa-chevron-square-${direction}"></use></svg>`
    return (
      <Carousel
        per-page={1}
        navigation-click-target-size={25}
        pagination-enabled={true}
        navigation-enabled={true}
        navigation-next-label={baseArrow('right')}
        navigation-prev-label={baseArrow('left')}
        pagination-active-color="#fee6ce"
      >
        {ctx.slots().default}
      </Carousel>
    )
  },
}
</script>
