<template>
  <div class="collapse">
    <div class="collapse-trigger"
         @click="active = !active">
      <slot name="trigger" />
    </div>
    <transition name="fade">
      <div v-if="active"
           class="collapse-content">
        <slot />
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'BCollapse',
  props: {
    open: Boolean,
  },
  data() {
    return {
      active: this.open,
    }
  },
}
</script>
