<template>
  <!-- eslint-disable max-len -->
  <div class="bx-compromisos"
       :class="finished ? 'has-scroll' : 'has-no-scroll'">
    <transition name="slide-up">
      <div v-if="finished === true"
           id="personalized"

           class="bx-personalized">
        <div class="columns">
          <div class="column is-one-quarter has-text-left">
            <h2 class="title is-4">Instrucciones:</h2>
            <p>1. Ingresa tu nombre cómo quieres que aparezca en el decálogo.</p>
            <p>2. Una vez que descargues la imagen de el decálogo, ajústalo e imprímelo a tamaño carta.</p>

            <p />
            <div class="field">
              <label for="deca_user"
                     class="label">Nombre Completo</label>
              <p class="control">
                <input id="deca_user"
                       v-model="userName"
                       type="text"
                       class="input"></p>
            </div>

            <button class="button is-success"
                    @click="saveIt">
              Descargar
            </button><br><br>
            <button class="button"
                    @click="showItAgain">
              Volver al decálogo
            </button>
          </div>
          <div class="column">
            <div id="areaToPrint"
                 class="bx-diploma">
              <img src="@/assets//images/personajes/diploma-head.png"
                   class="is-responsive"
                   alt="Personajes del curso">
              <h1 class="title is-3">
                "Decálogo por la Igualdad"
              </h1>
              <p>Mis principales compromisos por la igualdad son:</p>
              <ol class="is-list typo-diploma is-lefty">
                <li>Mirar con los lentes de género</li>
                <li>Eliminar los estereotipos que obstaculizan la igualdad</li>
                <li>Emplear lenguaje incluyente y no sexista</li>
                <li>Fomentar relaciones igualitarias en mi entorno laboral</li>
                <li>Combatir y denunciar el hostigamiento sexual y acoso sexual</li>
                <li>Promover acciones que concilien la vida familiar y laboral</li>
                <li>Conocer e impulsar las acciones por la igualdad que competen a la institución</li>
                <li>Conocer y utilizar datos, estadísticas e indicadores con perspectiva de género</li>
                <li>Capacitarme y/o profesionalizarme en materia de igualdad</li>
                <li class="is-customized">
                  ✏️ {{ compromisocapturado }}
                </li>
              </ol>
              <p class="typo-username">
                {{ userName }}
              </p>

              <img src="@/assets/images/personajes/todos-b.png"
                   class="is-responsive"
                   alt="Personajes del curso">
            </div>
          </div>
        </div>
      </div>
      <svg v-else
           id="compromisosSVG"
           version="1.1"
           class="svgbox"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px"
           y="0px"
           viewBox="0 0 1142 768"
           style="enable-background:new 0 0 1142 768;"
           font-family="Helvetica"
           xml:space="preserve">
        <g>
          <path class="st0"
                d="M701.7,212.4c-35.9-28.3-80.6-45.8-129.4-48l-0.1,113.3c23.8,2.1,45.5,11.6,62.8,26.2L701.7,212.4z
                 M562.2,277.3c0.7,0,1.3,0,2,0l0.1-113.1c-0.7,0-1.4,0-2.1,0c-49.4,0-95.2,15.9-132.3,42.9l66.6,91.4
                 C515,285.2,537.7,277.3,562.2,277.3z M707.9,217.5l-67,91.9c15.4,15,26.4,34.3,31.3,56l107.2-34.7l2.5,7.6l-108.2,35
                 c0.8,5.4,1.2,11,1.2,16.7c0,14.6-2.8,28.5-7.8,41.3l107.6,35.1c8.6-23.9,13.3-49.6,13.3-76.4C788,320.8,756.9,258.9,707.9,217.5z
                 M490.1,303.4l-66.6-91.5c-37,28.9-64.8,69.1-78.2,115.4L453,362.2C459,338.8,472.2,318.4,490.1,303.4z M564,502.6
                 c-0.6,0-1.2,0-1.8,0c-18.9,0-36.7-4.7-52.3-12.9l-66.8,92c34.6,21.5,75.4,34,119.1,34c3.2,0,6.4-0.1,9.5-0.2h-7.9L564,502.6z
                 M458.9,435c-6-13.8-9.4-29-9.4-45c0-6.8,0.6-13.5,1.8-20l-108.1-35c-4.4,17.6-6.7,36-6.7,54.9c0,29.8,5.8,58.2,16.3,84.3l-1.4-4.3
                 L458.9,435z M628.8,480.9l66.3,91.4l-6.5,4.7l-66.4-91.6c-14.8,9.3-31.8,15.3-50.2,16.8l-0.1,113.3c90.9-3.8,167.8-61.3,200-141.6
                 l-108-35.2C655.8,455.4,643.7,469.9,628.8,480.9z M462.4,442.2L354,477.4c17.2,40.8,46,75.5,82.3,100l66.5-91.7
                 C485.8,475.1,471.8,460.1,462.4,442.2z" />
        </g>
        <g>
          <g class="is-hoverable"
             @click="activeCompromisoIndex = 0">
            <rect x="672.5"
                  y="96.6"
                  class="st1"
                  width="317.8"
                  height="53.3" />
            <text transform="matrix(1 0 0 1 703.6666 132.7001)"
                  class="st2 st3">Mirar con los lentes de género</text>
            <polygon class="st0"
                     points="687,149.9 672.5,149.9 672.5,135.7 645.5,180 672.5,113 672.5,96.6 687,96.6 		" />
          </g>
          <g class="is-hoverable"
             @click="activeCompromisoIndex = 0">
            <circle class="st4"
                    cx="629.4"
                    cy="224.5"
                    r="28.7" />
            <path d="M628.7,235.5v-15.7l-4.6,1.9v-5.8l5.9-2.4h4.7v22H628.7z" />
          </g>
        </g>
        <transition name="slide-up">
          <g v-if="animatedIndex[0]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 1">
              <rect x="774.5"
                    y="175.9"
                    class="st1"
                    width="317.8"
                    height="95" />
              <polygon class="st0"
                       points="788.9,270.9 774.4,270.9 774.4,240 754.1,270.9 774.4,213.5 774.4,175.9 788.9,175.9 		" />
              <g>
                <text transform="matrix(1 0 0 1 801.667 217.5)">
                  <tspan x="0"
                         y="0"
                         class="st2 st3">Eliminar los estereotipos que </tspan>
                  <tspan x="0"
                         y="24"
                         class="st2 st3">obstaculizan la igualdad</tspan></text>
              </g>
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 1">
              <circle class="st4"
                      cx="721.4"
                      cy="299.3"
                      r="28.7" />
              <path d="M721.4,305.1h7.9l-0.3,5.3h-15.3l-0.3-5.3c6.1-4,9.1-7,9.1-9.5c0-1.4-0.8-2.2-2.8-2.2c-1.3,0-3,0.3-5.4,1l-1-5.3
                     c2.5-0.7,5-1.1,7.2-1.1c4.5,0,7.9,1.9,7.9,7.5C728.5,299,726.1,302.3,721.4,305.1z" />
            </g>
          </g>
        </transition>
        <transition name="slide-up">
          <g v-if="animatedIndex[1]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 2">
              <rect x="820.5"
                    y="370.5"
                    class="st1"
                    width="298.8"
                    height="70.8" />
              <polygon class="st0"
                       points="834.4,441.3 819.9,441.3 819.9,415.4 787.4,406.1 819.9,395 819.9,370.9 834.4,370.9 		" />
              <text transform="matrix(1 0 0 1 848.333 400.8)">
                <tspan x="0"
                       y="0"
                       class="st2 st3">Emplear lenguaje incluyente </tspan>
                <tspan x="0"
                       y="24"
                       class="st2 st3">y no sexista</tspan></text>
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 2">
              <circle class="st4"
                      cx="745.7"
                      cy="404.2"
                      r="28.7" />
              <path d="M746,401.5c0.7-0.6,1-1.2,1-1.8c0-0.8-0.7-1.6-2.7-1.6c-1.3,0-3,0.3-5.4,1l-1-5.3c2.5-0.7,5-1.1,7.2-1.1
                     c4.5,0,7.9,1.6,7.9,6c0,2.3-1.1,3.9-3.1,5.1c2.6,1.4,3.8,3.2,3.8,5.5c0,4.1-3.5,6-8.6,6c-2.6,0-5-0.4-7.1-1.1l1-5.3
                     c2,0.6,4.1,1,5.8,1c2.1,0,3-0.6,3-1.6c0-0.6-0.3-1.2-1-1.8h-4.4l0.3-5.3h3.3V401.5z" />
            </g>
          </g>
        </transition>
        <transition name="slide-up">
          <g v-if="animatedIndex[2]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 3">
              <rect x="788.5"
                    y="493.9"
                    class="st1"
                    width="329.8"
                    height="67.1" />
              <polygon class="st0"
                       points="802.9,561 788.4,561 788.4,541.8 738.5,531 788.4,517.5 788.4,493.8 802.9,493.8 		" />
              <text transform="matrix(1 0 0 1 819.4997 523.667)">
                <tspan x="0"
                       y="0"
                       class="st2 st3">Fomentar relaciones igualitarias </tspan>
                <tspan x="0"
                       y="24"
                       class="st2 st3">en mi entorno laboral</tspan></text>
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 3">
              <circle class="st4"
                      cx="704.1"
                      cy="502.3"
                      r="28.7" />
              <path d="M705,491.3c0,5.7-1.5,9-4.2,12.9h3.7V500l5.9-0.3v4.4h2.5l-0.3,5.3h-2.2v3.8h-5.9v-3.8h-8.9l-0.3-5.3
                     c2.7-3.9,3.9-7.8,3.9-12.9L705,491.3L705,491.3z" />
            </g>
          </g>
        </transition>
        <transition name="slide-up">
          <g v-if="animatedIndex[3]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 4">
              <rect x="732.8"
                    y="584.8"
                    class="st1"
                    width="382.4"
                    height="73.5" />
              <text transform="matrix(1 0 0 1 758.6005 617.1093)"
                    class="st5">
                <tspan x="0"
                       y="0"
                       class="st2 st3">Combatir y denunciar el hostigamiento </tspan>
                <tspan x="0"
                       y="24"
                       class="st2 st3">sexual y acoso sexual</tspan></text>
              <polygon class="st0"
                       points="742.4,658.2 727.9,658.2 727.9,593.5 628.6,605.8 728.2,584.8 742.4,584.8 		" />
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 4">
              <circle class="st4"
                      cx="617.1"
                      cy="561.3"
                      r="28.7" />
              <path d="M615.7,559c6.1-1.3,9.2,1.8,9.2,6.3c0,4.4-2.6,7.2-8.6,7.2c-2.3,0-4.7-0.4-6.8-1.1l1-5.3c2,0.6,4.1,1,5.5,1
                     c2.1,0,3-1,3-2.1c0-1.2-0.8-1.8-2.8-1.8h-5.8v-13.1h13.4l-0.3,5.3h-7.7v3.6L615.7,559L615.7,559z" />
            </g>
          </g>
        </transition>
        <transition name="slide-up">
          <g v-if="animatedIndex[4]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 5">
              <rect x="383"
                    y="677.8"
                    class="st1"
                    width="338.4"
                    height="76.2" />
              <text transform="matrix(1 0 0 1 408.3002 710.0953)"
                    class="st5">
                <tspan x="0"
                       y="0"
                       class="st2 st3">Promover acciones que concilien </tspan>
                <tspan x="0"
                       y="24"
                       class="st2 st3">la vida familiar y laboral</tspan></text>
              <polygon class="st0"
                       points="395.4,754 380.9,754 380.9,677.8 496.1,605.8 395.4,677.8 		" />
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 5">
              <circle class="st4"
                      cx="517.2"
                      cy="564.7"
                      r="28.7" />
              <path d="M514.9,562.7c1.3-0.7,2.9-1.1,4.4-1.1c3.4,0,6.5,2,6.5,7c0,4.4-3.2,7.3-8.5,7.3c-5.1,0-8.8-3.3-8.8-10.4
                     c0-9,4.2-12.2,9.9-12.2c1.9,0,4.2,0.3,6.2,0.8l-1,5.3c-2.3-0.5-3.1-0.7-4.7-0.7C516.5,558.7,515.3,559.6,514.9,562.7z
                     M514.8,566.9c0.2,3.3,1.2,4.1,2.5,4.1c1.6,0,2.5-1.1,2.5-2.5c0-1.2-0.6-2.1-2.2-2.1C517,566.3,516,566.5,514.8,566.9z" />
            </g>
          </g>
        </transition>
        <transition name="slide-up">
          <g v-if="animatedIndex[5]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 6">
              <rect x="32"
                    y="552.7"
                    class="st1"
                    width="351"
                    height="88.3" />
              <text transform="matrix(1 0 0 1 67.9767 580.3997)"
                    class="st5">
                <tspan x="0"
                       y="0"
                       class="st2 st3">Conocer e impulsar las acciones</tspan>
                <tspan x="25.5"
                       y="24"
                       class="st2 st3">por la igualdad que competen</tspan>
                <tspan x="162.3"
                       y="48"
                       class="st2 st3">a la institución</tspan></text>
              <polygon class="st0"
                       points="383,641 368.5,641 368.5,552.7 375.8,552.7 395.2,541.8 383,572.5 		" />
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 6">
              <circle class="st4"
                      cx="423.9"
                      cy="508.8"
                      r="28.7" />
              <path d="M419.4,519.8c0-7.4,2.4-12.3,6.7-16.7h-10l0.3-5.3h15l0.3,5.3c-4.6,5.5-6.4,10.1-6.4,16.7H419.4z" />
            </g>
          </g>
        </transition>
        <transition name="slide-up">
          <g v-if="animatedIndex[6]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 7">
              <rect x="19.5"
                    y="356.6"
                    class="st1"
                    width="295.5"
                    height="113.4" />
              <polygon class="st0"
                       points="315,470 300.5,470 300.5,356.6 315,356.6 315,399.5 337.3,408.6 315,432.8 		" />
              <text transform="matrix(1 0 0 1 72.759 397.8002)">
                <tspan x="0"
                       y="0"
                       class="st2 st3">Conocer y utilizar datos,</tspan>
                <tspan x="-15.6"
                       y="24"
                       class="st2 st3">estadísticas e indicadores</tspan>
                <tspan x="-26.7"
                       y="48"
                       class="st2 st3"> con perspectiva de género</tspan></text>
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 7">
              <circle class="st4"
                      cx="379.6"
                      cy="404.1"
                      r="28.7" />
              <path d="M387.5,398.8c0,2.3-1.1,3.9-3.1,5.1c2.6,1.4,3.8,3.2,3.8,5.5c0,4.1-3.4,6-8.6,6s-8.6-1.9-8.6-6c0-2.3,1.1-4.1,3.8-5.5
                     c-2-1.3-3.1-2.8-3.1-5.1c0-3,2.6-6,8-6S387.5,395.8,387.5,398.8z M376.9,408.8c0,0.9,0.9,1.6,2.7,1.6s2.7-0.6,2.7-1.6
                     c0-0.6-0.4-1.8-2.7-2.7C377.3,407,376.9,408.2,376.9,408.8z M381.6,399.4c0-0.7-0.5-1.6-2-1.6c-1.6,0-2,0.9-2,1.6
                     c0,0.6,0.4,1.8,2,2.4C381.2,401.2,381.6,399.9,381.6,399.4z" />
            </g>
          </g>
        </transition>
        <transition name="slide-up">
          <g v-if="animatedIndex[7]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 8">
              <rect x="20"
                    y="162.5"
                    class="st1"
                    width="344.7"
                    height="73" />
              <text transform="matrix(1 0 0 1 30.9435 195.8003)"
                    class="st5">
                <tspan x="0"
                       y="0"
                       class="st2 st3">Capacitarme y/o profesionalizarme</tspan>
                <tspan x="105.5"
                       y="24"
                       class="st2 st3">en materia de igualdad</tspan></text>
              <polygon class="st0"
                       points="365.9,235.4 351.4,235.4 350.9,162.6 365.4,162.6 365.4,190.6 384,258 365.4,217.6 		" />
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 8">
              <circle class="st4"
                      cx="411.8"
                      cy="290.1"
                      r="28.7" />
              <path d="M414,292.1c-1.3,0.7-2.9,1.1-4.4,1.1c-3.4,0-6.5-2-6.5-7c0-4.4,3.2-7.3,8.5-7.3c5.1,0,8.8,3.3,8.8,10.4
                     c0,9-4.2,12.2-9.9,12.2c-1.9,0-4.2-0.3-6.2-0.8l1-5.3c2.3,0.5,3.1,0.7,4.7,0.7C412.3,296.1,413.6,295.2,414,292.1z M414.1,287.9
                     c-0.2-3.3-1.2-4.1-2.5-4.1c-1.6,0-2.5,1.1-2.5,2.5c0,1.2,0.6,2.1,2.2,2.1C411.9,288.5,412.9,288.3,414.1,287.9z" />
            </g>
          </g>
        </transition>
        <transition name="slide-up">
          <g v-if="animatedIndex[8]">
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 9">
              <rect x="107.5"
                    y="67.5"
                    class="st1"
                    width="375.5"
                    height="68.2" />
              <text transform="matrix(1 0 0 1 182.4625 94.9498)"
                    class="st5">
                <tspan x="0"
                       y="0"
                       class="st2 st3">Mi compromiso personal por la</tspan>
                <tspan x="-28.9"
                       y="24"
                       class="st2 st3">igualdad entre mujeres y hombres</tspan></text>
              <polygon class="st0"
                       points="502.9,172.1 475.8,135.7 468.5,135.7 468.5,67.5 483,67.5 483,126 		" />
            </g>
            <g class="is-hoverable"
               @click="activeCompromisoIndex = 9">
              <ellipse transform="matrix(0.3827 -0.9239 0.9239 0.3827 113.2124 608.0343)"
                       class="st4"
                       cx="511.6"
                       cy="219.3"
                       rx="28.7"
                       ry="28.7" />
              <path d="M500.1,230.3v-15.7l-4.6,1.9v-5.8l5.9-2.4h4.7v22H500.1z" />
              <path d="M518.2,208c5.5,0,9.4,3.1,9.4,11.3s-3.9,11.3-9.4,11.3s-9.4-3.1-9.4-11.3S512.7,208,518.2,208z M518.2,225.3
                     c1.7,0,3.1-1.2,3.1-6c0-4.7-1.5-6-3.1-6c-1.7,0-3.1,1.3-3.1,6C515.1,224,516.6,225.3,518.2,225.3z" />
            </g>
          </g>
        </transition>
        <text transform="matrix(1 0 0 1 454 380)">
          <tspan x="55"
                 y="-2"
                 class="st6 st8">Decálogo </tspan>
          <tspan x="53"
                 y="21"
                 class="st6 st7">por la igualdad </tspan>
          <tspan x="3"
                 y="41"
                 class="st6 st7">entre mujeres y hombres</tspan>
        </text>
      </svg>
    </transition>

    <modal-vue
      id="compromisosmodal"
      :is-active="!!activeCompromiso"
      @close="activeCompromisoIndex = null">
      <template
        v-if="activeCompromiso">
        <template slot="header">{{ activeCompromisoIndex +1 }}. {{ activeCompromiso.title }}</template>

        <compromiso-item
          :checked.sync="checkboxesIndex[activeCompromisoIndex]"
          :animated.sync="animatedIndex[activeCompromisoIndex]"
          :base-url="compromisosMeta.baseUrl"
          :index="activeCompromiso.index"
          :compromisocapturado.sync="compromisocapturado"
          @close="activeCompromisoIndex = null">
          <!--  -->
        </compromiso-item>
      </template>
    </modal-vue>
  </div>
</template>

<script>
import Axios from 'axios'
import CompromisoItem from '@/components/CompromisoItem.vue'
import html2canvas from 'html2canvas'
import ModalVue from '@/components/Modal.vue'
import _ from 'lodash'
// import { toDataUrl } from '@/utils/pdf'

export default {
  name: 'Compromisos',
  components: {
    CompromisoItem,
    ModalVue,
  },
  data() {
    return {
      allCompromisos: [],
      compromisosMeta: {},
      activeCompromisoIndex: null,
      checkboxesIndex: [],
      animatedIndex: [],
      userName: 'Nombre y Apellido',
      compromisocapturado: '',
    }
  },
  computed: {
    user() {
      return this.$store.state.user.data
    },
    isLogged() {
      return this.$store.getters['user/isLogged']
    },
    activeCompromiso() {
      return this.allCompromisos[this.activeCompromisoIndex]
    },
    finished() {
      return (
        !!this.compromisocapturado &&
        this.checkboxesIndex.every(checked => checked)
      )
    },
  },
  watch: {
    checkboxesIndex() {
      this.$nextTick(() => {
        this.saveUserData()
      })
    },
    userName() {
      this.saveUserName()
    },
  },
  mounted() {
    const url = `${document.location.pathname}_data/compromisos/index.json`
    Axios.get(url).then(({ data }) => {
      this.allCompromisos = data.data
      this.compromisosMeta = data.meta
      this.checkboxes()
    })
  },
  methods: {
    showItAgain() {
      // this.checkboxesIndex.$set(9, false)
      this.checkboxesIndex.splice(9, 1, false)
      this.animatedIndex.splice(9, 1, false)
    },
    checkboxes() {
      if (this.isLogged && this.user.metadata) {
        this.userName = this.user.username
        const meta = this.user.metadata
        this.checkboxesIndex = meta.compromisosAceptados
        this.animatedIndex = meta.compromisosAceptados
        this.compromisocapturado = meta.compromiso
      } else {
        this.allCompromisos.forEach(() => {
          this.checkboxesIndex.push(false)
          this.animatedIndex.push(false)
        })
      }
    },
    saveUserName: _.debounce(function saveUserName() {
      this.$store.dispatch(
        'user/updateUserData',
        Object.assign({}, this.user, {
          username: this.userName,
        })
      )
    }, 1500),
    saveUserData() {
      if (!this.isLogged) {
        return
      }

      const userDataToPatch = Object.assign({}, this.user, {
        metadata: {
          compromisosAceptados: this.checkboxesIndex,
          compromiso: this.compromisocapturado,
        },
      })
      this.$store.dispatch('user/updateUserData', userDataToPatch)
    },
    saveIt() {
      const printArea = document.getElementById('areaToPrint')
      html2canvas(printArea).then(canvas => {
        // document.body.appendChild(canvas)
        this.saveAs(canvas.toDataURL(), 'mis-compromisos.png')
      })
    },
    saveAs(uri, filename) {
      const link = document.createElement('a')

      if (typeof link.download === 'string') {
        link.href = uri
        link.download = filename

        // Firefox requires the link to be in the body
        document.body.appendChild(link)

        // simulate click
        link.click()

        // remove the link when done
        document.body.removeChild(link)
      } else {
        window.open(uri)
      }
    },
  },
}
</script>

<style lang="scss">
@import '../assets/sass/base/basic';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Roboto');

$local-primary: #814b99;
$white: #fff;
$background: #e9e7e7;

.bx-compromisos {
  background-color: $background;
  border: 2px solid $local-primary;
  @include until($tablet) {
    width: 90vw;
    height: 30vh;
  }
  @include from($tablet) {
    width: 90vw;
    height: 683px;
  }
  @include from($widescreen) {
    width: 1246px;
    height: 906px;
  }

  &.has-no-scroll {
    overflow-y: hidden;
  }

  &.has-scroll {
    overflow-y: auto !important;
  }

  .bx-personalized {
    padding: 2rem;
  }

  .svgbox {
    position: relative;
    top: -0.5rem;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .st0 {
    fill: $local-primary;
  }

  .st1 {
    fill: $white;
  }

  .st2 {
    font-family: Roboto;
  }

  .st3 {
    font-size: 20px;
  }

  .st4 {
    fill: $white;
    opacity: 0.3;
    enable-background: new;
  }

  .st5 {
    enable-background: new;
  }

  .st6 {
    font-family: Roboto;
    font-weight: 500;
  }

  .st7 {
    font-size: 19px;
  }

  .st8 {
    font-size: 26px;
  }

  .is-hoverable {
    cursor: pointer;
    transition: transform 1s ease-in;

    &:hover {
      fill: $local-primary;
      opacity: 0.8;
    }
  }

  .bx-diploma {
    padding: 2rem;
    background-color: $white;

    .is-list {
      margin: 0 2rem;
      text-align: left;
    }

    .is-customized {
      background-color: rgba($black, 0.09);
    }
  }

  .typo-username {
    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
  }

  .typo-diploma {
    font-family: Montserrat, sans-serif;
  }
}
</style>
