<template>
  <div
    :class="statusClass"
    class="justified-content">
    <!-- main-content-->
    <div
      class="content"
      v-html="content.content" />
    <!-- tabs-->
    <div v-if="content.tabs"
         class="tabs-container browser-default-uls">
      <template>
        <center>
          <small>Da clic en cada pestaña para ver la información:</small>
        </center>
        <b-tabs
          type="is-boxed"
          position="is-centered">
          <b-tab-item v-for="tab in content.tabs"
                      :key="tab.id"

                      :label="tab.title">
            <div v-html="tab.tabcontent" />
          </b-tab-item>
        </b-tabs>
      </template>
    </div>
    <!-- video-->
    <div v-if="content.video"
         class="video-box">
      <img src="@/assets//images/icons/video.svg"
           alt="Video Cápsula"
           class="is-modal-video-icon">
      <p class="video-intro">
        {{ content.videoIntro }}
      </p>
      <video width="600"
             height="400"
             controls>
        <source
          :src="videoUrl"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <!-- acordeon-->
    <div v-if="content.accordeon">
      <template>
        <small>Da click en el texto para ver el contenido</small>
        <b-collapse v-for="acordeonItem in content.accordeon"
                    :key="acordeonItem.index">
          <div slot="trigger"
               class="panel-heading">
            {{ acordeonItem.accordeonTitle }}
            <fa-icon icon="angle-down" />
          </div>
          <div class="panel-content browser-default-uls"
               v-html="acordeonItem.accordeonContent" />
        </b-collapse>
      </template>
    </div>
    <!-- content-extended-->
    <div
      v-if="content.contentExtended"
      class="content"
      v-html="content.contentExtended" />
    <!-- acordeon_b-->
    <div v-if="content.accordeon_b">
      <template>
        <small>Da click en el texto para ver el contenido</small>
        <b-collapse v-for="acordeonItem in content.accordeon_b"
                    :key="acordeonItem.index"
                    :open="false">
          <div slot="trigger"
               class="panel-heading">
            {{ acordeonItem.accordeonTitle }}
            <fa-icon icon="angle-down" />
          </div>
          <div class="panel-content browser-default-uls"
               v-html="acordeonItem.accordeonContent" />
        </b-collapse>
      </template>
    </div>
    <!-- content-extended-->
    <div
      v-if="content.contentExtended_b"
      class="content"
      v-html="content.contentExtended_b" />
    <!--is-last-->
    <transition name="slide-up">
      <div v-if="content.isLast === true"
           class="bx-compromiso">
        <div class="field">
          <label class="label">
            Escribe a continuación tu compromiso
            <span class="has-text-weight-normal">
              (mínimo 10 - máximo 500 caracteres).
            </span>
          </label>
          <div class="control">
            <textarea
              v-model="localCompromiso"
              class="textarea"
              maxlength="500" />
          </div>
        </div>
        <button
          class="button is-success"
          :disabled="localCompromiso.length < 10"
          @click="closeAndAnimate">
          Enviar mi compromiso
        </button>
      </div>

      <div v-else
           class="bx-compromiso">
        <div class="bx-compromiso-dialogo">
          <div class="bx-compromiso-globo">
            <div class="text-before-close"
                 v-html="content.close" />
            <img src="@/assets/images/punta.svg"
                 class="globo-punta">
          </div>
          <img :src="personajeUrl"
               class="personaje-round"
               alt="Personaje">
        </div>
        <fa-icon icon="hand-point-right"
                 class=" is-bouncing" />
        <label tabindex="0"
               class="checkbox is-success">
          <input
            :checked="checked"
            type="checkbox"
            @input="(event) => $emit('update:checked', event.target.checked)" />
          <span class="check" />
          <span class="control-label">{{ content.checkboxtext }}</span>
        </label>

        <br>
        <button
          v-if="checked"
          class="button is-success"
          @click="closeAndAnimate">
          Aceptar
        </button>

      </div>
    </transition>
  </div>
</template>

<script>
/* eslint-disable global-require */
/* eslint-disable import/no-dynamic-require */
import Axios from 'axios'
import BTabs from './Tabs.vue'
import BTabItem from './TabItem.vue'

const STATUS_CLASSES = {
  loading: 'is-info',
  error: 'is-danger',
  success: 'is-success',
}

const getWebpackOrAbsolute = (path, type) => {
  if (!path) return ''
  const webpackPath = path.replace(`/${type}/`, '')
  let webpackUrl
  if (type === 'video') {
    webpackUrl = require(`@/assets/video/${webpackPath}`)
  } else if (type === 'images') {
    webpackUrl = require(`@/assets/images/${webpackPath}`)
  }
  if (webpackUrl) return webpackUrl
  return path
}

const basePath = `${document.location.pathname}_data/compromisos/`

export default {
  name: 'CompromisoItem',
  components: {
    BTabs,
    BTabItem,
  },
  props: {
    compromisocapturado: {
      type: String,
      default: '',
    },
    animated: {
      type: Boolean,
      default: false,
    },
    checked: {
      type: Boolean,
      default: false,
    },
    index: {
      type: [Number, String],
      default: '0',
    },
  },
  data() {
    return {
      status: 'loading',
      content: 'cargando...',
      localCompromiso: this.compromisocapturado,
    }
  },
  computed: {
    fullPath() {
      return `${basePath + String(this.index).padStart(2, '0')}.json`
    },
    statusClass() {
      return [STATUS_CLASSES[this.status]]
    },
    videoUrl() {
      return getWebpackOrAbsolute(this.content.video, 'video')
    },
    personajeUrl() {
      return getWebpackOrAbsolute(this.content.personaje, 'images')
    },
  },
  watch: {
    index() {
      this.getCompromiso()
    },
  },
  mounted() {
    this.getCompromiso()
  },
  methods: {
    getCompromiso() {
      this.content = 'Cargando...'
      Axios.get(this.fullPath)
        .then(({ data }) => {
          this.content = data
          this.status = 'success'
        })
        .catch(err => {
          // eslint-disable-next-line no-console
          console.error(err)
          this.content = err.response
          this.status = 'error'
        })
    },
    closeAndAnimate() {
      if (this.localCompromiso.length > 10) {
        this.$emit('update:checked', true)
        this.$emit('update:compromisocapturado', this.localCompromiso)
      }
      this.$emit('update:animated', true)
      this.$emit('close')
    },
  },
}
</script>

<style lang="scss" scoped>
$compromiso-border: #adadad;
$white: #fff;
$local-primary: #814b99;

.justified-content {
  text-align: justify;
}

.content:not(:last-child) {
  margin-bottom: 0;
}

.bx-compromiso {
  padding: 1rem;
  text-align: left;
  border: 1px solid $compromiso-border;
  border-radius: 0.4rem;
}

.bx-compromiso-dialogo {
  display: flex;

  .personaje-round {
    width: 120px;
    height: 120px;
  }
}

.bx-compromiso-globo {
  display: flex;
  align-items: center;

  .text-before-close {
    padding: 1rem 20px 1rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1rem !important;
    background-color: $white;
    border-radius: 0.5rem;
  }

  .text-generic {
    padding: 1rem 20px 1rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1rem !important;
    background-color: $white;
    border-radius: 0.5rem;
  }

  .globo-punta {
    width: 40px;
    height: 40px;
  }
}

.tabs-container {
  border: 1px solid $white;
}

.video-box {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 0.5rem;
}

.is-modal-video-icon {
  display: block;
  width: 6rem;
  height: 6rem;
  margin-top: -3rem;
  margin-right: auto;
  margin-left: auto;
  background-color: $local-primary;
  border-radius: 50%;
}

.panel-content {
  padding: 1rem;
  margin-bottom: 2rem;
  background: #fafafa;
  border: 1px solid $compromiso-border;
}

.is-bouncing {
  float: left;
  margin-right: 2rem;
  font-size: 3rem;
  color: $local-primary;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}
</style>
