<template>
  <iframe
    id="trivia"
    ref="iframe"
    class="trivia-hype"
    :src="src"
    frameborder="0"
    @load="iframeLoaded" />
</template>

<script>
import { mapState } from 'vuex'
import { triviaSchema, postTrivia } from '@/api/users'

export default {
  name: 'ContainerTrivia',
  props: {
    src: {
      type: String,
      default: '/_test.html',
      required: true,
    },
    triviaId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      isIframeLoaded: false,
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.data,
    }),
    currentTrivia() {
      return this.triviaId
        ? (this.user.trivias || []).find(
            ({ triviaId }) => this.triviaId === triviaId
          )
        : null
    },
  },
  created() {
    if (!this.currentTrivia) {
      this.createTrivia()
    }
  },
  methods: {
    iframeLoaded() {
      // Listen for messages on port1
      this.isIframeLoaded = true
      if (this.$store.getters['user/isLogged']) {
        // Inserta el listener
        // eslint-disable-next-line no-underscore-dangle
        this.$el.contentWindow.__userData = {
          setScore: score => {
            this.updateTrivia(score)
          },
        }
      }
    },
    async updateTrivia(score) {
      const newTrivia = {
        ...this.currentTrivia,
        tries: this.currentTrivia.tries + 1,
        url: this.$route.path,
        userId: this.user.id,
        completed: true,
      }
      newTrivia.pastScores = [...this.currentTrivia.pastScores]
      if (newTrivia.latestScore !== null) {
        newTrivia.pastScores.push(newTrivia.latestScore)
      }
      newTrivia.latestScore = score
      await postTrivia(newTrivia)
      this.$store.dispatch('user/getUserDataFromApi')
    },
    async createTrivia() {
      const newTrivia = {
        ...triviaSchema,
        triviaId: this.triviaId,
        url: this.$route.path,
        userId: this.user.id,
      }
      await postTrivia(newTrivia)
      this.$store.dispatch('user/getUserDataFromApi')
    },
  },
}
</script>
