<script>
const cfgStr = 'MOODLE_IFRAMES'
export default {
  name: 'IframeMoodle',
  functional: true,
  props: {
    section: {
      type: String,
      required: true,
    },
    index: {
      type: [String, Number],
      required: true,
    },
  },
  render(h, { props, parent }) {
    const src = (parent.$store.state.config[cfgStr][props.section] || {})[
      props.index
    ]
    if (src) {
      return (
        <div class="moodle-frame">
          <iframe staticClass="frame-puntogenero" src={src} frameborder="0" />
        </div>
      )
    }

    return (
      <div staticClass="notification is-danger">
        No tienes configurado este iframe {props.section} {props.index}
      </div>
    )
  },
}
</script>
