<template>
  <transition name="fade">
    <div
      v-if="isActive"
      class="modal is-active is-wide ">
      <div class="modal-background"
           @click="$emit('close')" />
      <div class="modal-card is-wide has-background">
        <header class="modal-card-head">
          <p class="modal-card-title">
            <slot name="header">
              Modal title
            </slot>
          </p>
          <button class="delete"
                  aria-label="close"
                  @click="$emit('close')" />
        </header>
        <section class="modal-card-body">
          <slot>Default Content</slot>
        </section>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: 'Modal',
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  watch: {
    isActive: active => {
      const el = document.documentElement
      if (active) {
        el.classList.add('is-clipped')
      } else {
        el.classList.remove('is-clipped')
      }
    },
  },
  beforeDestroy() {
    document.documentElement.classList.remove('is-clipped')
  },
}
</script>
<style lang="scss" scoped>
$compromiso-border: #adadad;
$white: #fff;
$local-highlight: #814b99;

.modal-card-head {
  background-color: $local-highlight;

  .modal-card-title {
    color: $white;
  }
}

.modal-card-body {
  background-color: #f6f6f6 !important;
}

.modal-card {
  &.is-wide {
    width: 90vw;
  }
}

.modal-card-foot {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
</style>
