<template>
  <div class="b-tabs">
    <nav class="tabs"
         :class="navClasses">
      <ul>
        <li
          v-for="(tabItem, index) in tabItems"
          v-show="tabItem.visible"
          :key="index"
          :class="{ 'is-active': activeTab === index,
                    'is-disabled': tabItem.disabled }">
          <a @click="tabClick(index)">

            <span>{{ tabItem.label }}</span>

          </a>
        </li>
      </ul>
    </nav>
    <section class="tab-content">
      <slot />
    </section>
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  name: 'BTabs',
  props: {
    expanded: Boolean,
    type: String,
    size: String,
    position: String,
    animated: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      activeTab: this.value || 0,
      tabItems: [],
      contentHeight: 0,
    }
  },
  computed: {
    navClasses() {
      return [
        this.type,
        this.size,
        this.position,
        {
          'is-fullwidth': this.expanded,
          'is-toggle-rounded is-toggle': this.type === 'is-toggle-rounded',
        },
      ]
    },
  },
  watch: {
    /**
     * When v-model is changed set the new active tab.
     */
    value(value) {
      this.changeTab(value)
    },
    /**
     * When tab-items are updated, set active one.
     */
    tabItems() {
      if (this.activeTab < this.tabItems.length) {
        this.tabItems[this.activeTab].isActive = true
      }
    },
  },
  mounted() {
    if (this.activeTab < this.tabItems.length) {
      this.tabItems[this.activeTab].isActive = true
    }
  },
  methods: {
    /**
     * Change the active tab and emit change event.
     */
    changeTab(newIndex) {
      if (this.activeTab === newIndex) return
      if (this.activeTab < this.tabItems.length) {
        this.tabItems[this.activeTab].deactivate(this.activeTab, newIndex)
      }
      this.tabItems[newIndex].activate(this.activeTab, newIndex)
      this.activeTab = newIndex
      this.$emit('change', newIndex)
    },
    /**
     * Tab click listener, emit input event and change active tab.
     */
    tabClick(value) {
      this.$emit('input', value)
      this.changeTab(value)
    },
  },
}
</script>
