<template>
  <footer class="footer">
    <div class="container">
      <!-- eslint-disable max-len -->
      <img
        class="is-logo"
        src="@/assets/images/inmujeres2019.png">
      <div class="foot-text">
        <p>
          <a
            href="https://www.gob.mx/inmujeres"
            target="_blank">
            INSTITUTO NACIONAL DE LAS MUJERES
          </a>
        </p>
        <p>© Algunos Derechos Reservados - Boulevard Adolfo López Mateos 3325. Col. San Jerónimo Lídice,C.P. 10200,<br> Del. Magdalena Contreras, CDMX, Tel. 01(55) 5322 4200</p>
      </div>
      <img
        class="is-logo"
        src="@/assets/images/logo-puntogenero.png">
    <!-- eslint-enable max-len -->
    </div>
  </footer>
</template>
<script>
/**
 * Footer de bulma
 *
 * @version 1.0
 */
export default {
  name: 'TheHeader',
  data: () => ({
    /**
     * Abrir o cerrar el menu mobil
     */
    menuStatus: false,
  }),
  watch: {
    $route() {
      if (this.menuStatus) {
        this.menuStatus = false
      }
    },
  },
}
</script>
<style lang="scss" scoped>
@import '../assets/sass/base/basic';

.footer {
  background: $neutral;

  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    @include from($tablet) {
      flex-flow: row;
    }

    .foot-text {
      margin: 1rem;
      text-align: center;
      color: $grey-light;
    }
  }
}

.is-logo {
  display: block;
  max-height: 126px;
  max-width: 200px;
}
</style>
