<template>
  <nav class="navbar">
    <div
      class="container">
      <div
        class="navbar-brand">
        <router-link
          to="/"
          class="navbar-item logo_item">
          <img
            :src="require('@/assets/logotipo-v2.svg')"
            class="site-image"
            alt="Curso de inducción">
        </router-link>
        <div
          class="navbar-burger burger"
          @click="menuStatus = !menuStatus">
          <span />
          <span />
          <span />
        </div>
      </div>
      <div :class="['navbar-menu', menuStatus ? 'is-active' : '' ]">
        <div class="navbar-start" />
        <div class="navbar-end">
          <router-link
            exact
            to="/"
            class="navbar-item">
            Home
          </router-link>
          <router-link
            to="/guia-del-curso"
            class="navbar-item">
            Guía del curso
          </router-link>
          <a
            href="http://puntogenero.inmujeres.gob.mx/moodle_puntogenero/login/registro/login.php"
            class="navbar-item">
            Salir
          </a>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
/**
 * Header de bulma
 *
 * @version 1.0
 */
export default {
  name: 'TheHeader',
  data: () => ({
    /**
     * Abrir o cerrar el menu mobil
     */
    menuStatus: false,
  }),
  watch: {
    $route() {
      if (this.menuStatus) {
        this.menuStatus = false
      }
    },
  },
}
</script>
<style lang="scss" scoped>
@import '../assets/sass/base/variables';

$gray: #565656;

.site-image {
  display: block;
  width: auto;
  height: 7rem;
}

.navbar {
  font-size: 1.3rem;
  background: $neutral;
}

.navbar-end {
  .navbar-item {
    transition: 0.4s transform ease-in;

    &:hover {
      transition: 0.4s transform ease-in;
      transform: scale(1.1);
    }
  }
}
</style>
