
<template>
  <div
    v-if="trivias"
    class="trivias-result">
    <template v-if="trivias.length > 0">
      <div class="field has-addons has-addons-centered">
        <p class="control">
          <input v-model="localusername"
                 type="text"
                 class="input">

        </p>
        <p class="control">

          <button :disabled="!localusername"
                  class="button is-info"
                  @click="saveIt">
            Descargar
          </button>
        </p>
      </div>
      <div id="insignia-final"
           ref="emblema"
           hidden
           class="insignia-wrap is-hidden">
        <insignia-final
          :stars="stars"
          :nombre="localusername" />
      </div>
    </template>
    <div v-else
         class="notification is-info">
      No haz realizado ninguna trivia
    </div>
  </div>
  <div
    v-else
    class="notification is-warning">
    El usuario no está registrado
  </div>
</template>


<script>
import { mapState } from 'vuex'
import InsigniaFinal from './InsigniaFinal.vue'
import { toDataUrl } from '@/utils/pdf'

function getScore(stars = 0) {
  if (stars < 4) {
    return 0
  }
  if (stars < 8) {
    return 1
  }
  if (stars < 12) {
    return 2
  }
  if (stars < 16) {
    return 3
  }
  if (stars < 20) {
    return 4
  }
  return 5
}

export default {
  name: 'TrivasResult',
  components: {
    InsigniaFinal,
  },
  data() {
    return {
      localusername: '',
      showInput: false,
    }
  },

  computed: {
    ...mapState({
      trivias: state => (state.user.data ? state.user.data.trivias : false),
      userName: state =>
        state.user.data.first_name && state.user.data.last_name
          ? `${state.user.data.first_name} ${state.user.data.last_name}`
          : state.user.data.username,
    }),
    totalScore() {
      return this.trivias.reduce(
        (prev, curr) => prev + Number(curr.latestScore),
        0
      )
    },
    stars() {
      return getScore(this.totalScore)
    },
  },
  mounted() {
    this.localusername = this.userName
  },
  methods: {
    async saveIt() {
      // toPdf('Prueba')
      try {
        // eslint-disable-next-line
        const JsPDF = await import('jspdf/dist/jspdf.min.js').then(
          d => (d.default ? d.default : d)
        )
        const dataUrl = await toDataUrl(this.$refs.emblema)
        const doc = new JsPDF()
        doc.addImage(dataUrl, 'JPEG', 25, 5, 160, 280)
        doc.save(`Insignia inducción ${this.userName}.pdf`)
      } catch (error) {
        // Algo falló así que abro popup para imprimir
        this.$snackbar.open({
          duration: 5000,
          message: 'Imprime tu insignia manualmente',
          type: 'is-warning',
          position: 'is-bottom-right',
          actionText: 'Imprimir',
          queue: false,
          onAction: () => {
            const w = window.open('', '', 'menubar=0,scrollbars=0')
            const html = this.$refs.emblema.innerHTML
            w.document.write(html)
            w.document.close()
            w.print()
          },
        })
      }
    },
  },
}
</script>

<style lang="scss">
@import '../assets/sass/base/basic';

.trivias-result {
  max-height: 100%;
  overflow-y: auto;

  &__item {
    padding: 1rem 0;
    border-bottom: 1px solid $primary;
  }

  &__list {
    margin: 1rem;
    border: 1px solid $primary;
  }
}

.insignia-wrap {
  display: inline-block;
}
</style>
