<template>
  <div class="user-data-display notification is-black">
    <div class="field has-addons">
      <p class="control">
        <span class="button is-static is-small">
          user_id: {{ userID }}
        </span>
      </p>
      <p class="control">
        <button class="button is-white is-small"
                @click="showData = !showData">
          <span class="icon">
            <fa-icon :icon="showData ? 'angle-down' : 'angle-up'" />
          </span>
        </button>
      </p>
    </div>
    <pre v-if="showData"
         class="user-data-display__data">{{ user }}</pre>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'UserDataDisplay',
  data() {
    return {
      showData: false,
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.data,
      userID: state => state.user.userID,
    }),
  },
}
</script>

<style lang="scss" scoped>
.user-data-display {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 5;
  max-height: 70vh;
  padding: 0.5rem;
  overflow: hidden;
  color: #fff;
  background-color: #0a0a0a;

  &__data {
    width: calc(100% + 1rem);
    max-width: calc(100% + 1rem);
    max-height: calc(70vh - 3rem);
    padding: 0.5rem;
    margin: 0 -0.5rem;
    overflow: auto;
    font-size: 0.8em;
  }

  .input {
    width: 7rem;
  }
}
</style>
