@import "../base/variables";
// stylelint-disable selector-class-pattern
.intro-container {
  background: $white;
  border-radius: 1rem;
}

.VueCarousel {
  margin: 2rem 3.6rem;
}

.VueCarousel-navigation-button {
  display: block;
  width: 2.3rem;
  height: 2.3rem;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: $soft-one !important;
  text-align: center;
  background-color: $white;
  border-radius: 50%;
}

.VueCarousel-navigation--disabled {
  opacity: 0 !important;
}

.VueCarousel-navigation-next {
  right: -0.7rem !important;

}

.VueCarousel-navigation-prev {
  left: -0.7rem !important;
}
