$checkbox-active-background-color: $green !default;
$checkbox-checkmark-color: $primary-invert !default;
$speed-slow: 150ms !default;
$speed-slower: 250ms !default;
$easing: ease-in;
// Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @return if($index,
      str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index +
      str-length($search)), $search, $replace),
      $string);
}
// Encode svg function by http://codepen.io/jakob-e/pen/doMoML
@function svg-encode($svg){
  // Chunk up string in order to avoid "stack level too deep" error
  $encoded:'';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  @for $i from 1 through $loops {
      $chunk: str-slice($svg, $index, $index + $slice - 1);
      // Encode
      $chunk: str-replace($chunk, '"', '\'');
      $chunk: str-replace($chunk, '%', '%25');
      $chunk: str-replace($chunk, '#', '%23');
      $chunk: str-replace($chunk, '{', '%7B');
      $chunk: str-replace($chunk, '}', '%7D');
      $chunk: str-replace($chunk, '<', '%3C');
      $chunk: str-replace($chunk, '>', '%3E');

      $encoded: #{$encoded}#{$chunk};
      $index: $index + $slice;
  }
  @return "data:image/svg+xml,#{$encoded}";
}

@function checkmark($color) {
  $start: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1">';
  $content: '<path style="fill:#{$color}" d="M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z"></path>';
  $end: '</svg>';

  @return svg-encode("#{$start}#{$content}#{$end}");
}

.checkbox {
  @include unselectable;

  display: inline-flex;
  outline: none;
  align-items: center;

  + .checkbox {
    margin-left: 0.5em;
  }

  input[type=checkbox] {
    position: absolute;
    left: 0;
    opacity: 0;
    outline: none;
    z-index: -1;

    + .check {
      width: 1.25em;
      height: 1.25em;
      flex-shrink: 0;
      border-radius: $radius;
      border: 2px solid $grey;
      transition: background $speed-slow $easing;
    }

    &:checked + .check {
      background: $checkbox-active-background-color url('#{checkmark($checkbox-checkmark-color)}') no-repeat center center;
      border-color: $checkbox-active-background-color;
    }

    // &:indeterminate + .check {
    //   background: $checkbox-active-background-color url(${indeterminate($checkbox-checkmark-color)}) no-repeat center center;
    //   border-color: $checkbox-active-background-color;

    //   @each $name,
    //   $pair in $colors {
    //     $color: nth($pair, 1);
    //     $color-invert: nth($pair, 2);

    //     &.is-#{$name} {
    //       background: $color url(${indeterminate($color-invert)}) no-repeat center center;
    //       border-color: $color;
    //     }
    //   }
    // }
  }

  .control-label {
    padding-left: 0.5em;
  }

  &[disabled] {
    opacity: 0.5;
  }

  &:hover {
    input[type=checkbox]+.check {
      border-color: $checkbox-active-background-color;
    }
  }

  &:focus {
    input[type=checkbox]+.check {
      box-shadow: 0 0 0.5em rgba($grey, 0.8);
    }

    input[type=checkbox]:checked+.check {
      box-shadow: 0 0 0.5em rgba($checkbox-active-background-color, 0.8);
    }
  }

  &.is-small {
    @include control-small;
  }

  &.is-medium {
    @include control-medium;
  }

  &.is-large {
    @include control-large;
  }
}
