/** @define demo-card */
// Ejemplo de componente con BEM

//@import '../base/basic';

.demo-card {
  position: relative;
  height: 90vh; // SubComponentes

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__filter {
    @include overlay;
    display: block;
    background: rgba($black, 0.4);
    mix-blend-mode: multiply; // background-blend-mode: multiply;
  }

  &__content {
    @include overlay;
    display: grid;
    padding: 2rem;
    color: $white; // display: grid;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__title {
    font-size: 8rem;
    font-weight: bold;
    line-height: 1.2;
  }

  &__title,
  &__price {
    color: $white;
  }

  &--small {
    max-height: 50vh;
  }
}
