<template>
  <div id="app">
    <fa-icon icon="chevron-square-right"
             symbol />
    <fa-icon icon="chevron-square-left"
             symbol />
    <the-header />
    <transition name="page"
                @after-enter="$root.$emit('triggerScroll')">
      <router-view
        v-if="showApp"
        :key="$route.path" />
    </transition>
    <the-footer />
    <user-data-display />
  </div>
</template>

<script>
import TheHeader from '@/components/TheHeader.vue'
import TheFooter from '@/components/TheFooter.vue'
import UserDataDisplay from '@/components/UserDataDisplay.vue'
import { mapState, mapGetters } from 'vuex'

let referer = document.referrer.split('/')

referer = referer.length > 2 ? referer[2] : null

export default {
  name: 'DefaultLayout',
  components: {
    TheHeader,
    TheFooter,
    UserDataDisplay,
  },
  data() {
    return {
      ready: false,
    }
  },
  computed: {
    ...mapState({
      userID: state => state.user.userID,
    }),
    ...mapGetters({ isLogged: 'user/isLogged' }),
    showApp() {
      return (
        this.$store.state.config.ALWAYS_SHOW_APP ||
        (referer === this.$store.state.config.REFERER_DOMAIN && this.userID)
      )
    },
  },
  created() {
    if (this.userID) {
      this.$store
        .dispatch('user/getUserDataFromApi', this.userId)
        .finally(() => {
          this.ready = true
        })
    } else {
      this.ready = true
    }
  },
}
</script>

<style>
</style>
