/**
 * En este archivo se integran los aspectos globales que
 * no dependan de otra parte de otros estilos.
 */

@import 'base/basic';
@import 'globals/utils';
@import 'components/carousel';
@import 'globals/chapters';

.is-relative {
  position: relative;
}

:root {
  @each $name, $pair in $colors {
    --color-#{$name}: #{nth($pair, 1)};
    --color-#{$name}-invert: #{nth($pair, 2)};
  }
}
/* stylelint-disable  */
noscript {
  position: relative;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  color: rgba(0, 0, 0, 0.7);

  background-color: #ffdd57;
  border-radius: 3px;
}

.VueCarousel {
  min-height: 5rem;
}

.video {
  width: 100%;
  height: 100%;
}

p.is-centered {
  text-align: center;
}

.is-lefty {
  text-align: left;
}

em {
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
}


$dialog-color: #fff;

.bx-dialog {
  display: flex;

  .is-closer-character {
    width: 100px;
    height: 180px;
    margin-right: 30px;
    margin-left: 20px;
  }

  p.dialog {
    background-color: $dialog-color;
    border-radius: 1rem;
    padding: 0 20px 20px;

    &::before {
      content: '';
      width: 2rem;
      height: 2rem;
      display: block;
      background-color: $dialog-color;

      transform: rotate(45deg);
      position: relative;
      left: -2rem;
      top: 40px;
    }
  }

}

.browser-default-uls {
  ul {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;

    li {
      list-style-type: disc !important;

      ul {
        li { list-style-type: circle !important; }
      }
    }
  }
}

.has-text-left {
  text-align: left;
}

.svg-icon {
  width: 0.875em;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
