
$speed-slow: 150ms !default;
$speed-slower: 250ms !default;
$easing: ease-in;

.page-enter-active,
.page-leave-active {
  transition: 0.25s ease;
  transition-property: transform, opacity;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.slide-up {
  &-enter-active {
    transition: 1.5s ease;
    transition-property: transform, opacity;
  }

  &-enter {
    opacity: 0;
    transform: translateY(100px);
  }

  &-enter-to {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
* Vue Transitions
*/

// Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity $speed-slow $easing;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Zoom In
.zoom-in-enter-active,
.zoom-in-leave-active {
  transition: opacity $speed-slow $easing;

  .animation-content,
  .animation-content {
    transition: transform $speed-slow $easing;
  }
}

.zoom-in-enter,
.zoom-in-leave-active {
  opacity: 0;

  .animation-content,
  .animation-content {
    transform: scale(0.95);
  }
}


// Zoom Out
.zoom-out-enter-active,
.zoom-out-leave-active {
  transition: opacity $speed-slow $easing;

  .animation-content,
  .animation-content {
    transition: transform $speed-slow $easing;
  }
}

.zoom-out-enter,
.zoom-out-leave-active {
  opacity: 0;

  .animation-content,
  .animation-content {
    transform: scale(1.05);
  }
}

// Slide
.slide-next-enter-active,
.slide-next-leave-active,
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: transform $speed-slower cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.slide-prev-leave-to,
.slide-next-enter {
  transform: translate3d(-100%, 0, 0);
  position: absolute;
  width: 100%;
}

.slide-prev-enter,
.slide-next-leave-to {
  transform: translate3d(100%, 0, 0);
  position: absolute;
  width: 100%;
}
